<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>100.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,108}</string>
    <key>spriteSourceSize</key>
    <string>{111,108}</string>
    <key>textureRect</key>
    <string>{{978,651},{111,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>100_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,108}</string>
    <key>spriteSourceSize</key>
    <string>{111,108}</string>
    <key>textureRect</key>
    <string>{{851,873},{111,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>10k.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,108}</string>
    <key>spriteSourceSize</key>
    <string>{111,108}</string>
    <key>textureRect</key>
    <string>{{851,763},{111,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>10k_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,108}</string>
    <key>spriteSourceSize</key>
    <string>{111,108}</string>
    <key>textureRect</key>
    <string>{{689,920},{111,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1k.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,108}</string>
    <key>spriteSourceSize</key>
    <string>{111,108}</string>
    <key>textureRect</key>
    <string>{{964,763},{111,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1k_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,108}</string>
    <key>spriteSourceSize</key>
    <string>{111,108}</string>
    <key>textureRect</key>
    <string>{{851,983},{111,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5k.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,108}</string>
    <key>spriteSourceSize</key>
    <string>{111,108}</string>
    <key>textureRect</key>
    <string>{{964,873},{111,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5k_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,108}</string>
    <key>spriteSourceSize</key>
    <string>{111,108}</string>
    <key>textureRect</key>
    <string>{{466,1000},{111,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>FRAMEHIENTHITIENTHANG.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{223,90}</string>
    <key>spriteSourceSize</key>
    <string>{223,90}</string>
    <key>textureRect</key>
    <string>{{237,900},{223,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgWin.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{517,110}</string>
    <key>spriteSourceSize</key>
    <string>{517,110}</string>
    <key>textureRect</key>
    <string>{{237,651},{517,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_game.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{893,649}</string>
    <key>spriteSourceSize</key>
    <string>{893,649}</string>
    <key>textureRect</key>
    <string>{{0,0},{893,649}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_xhu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{235,350}</string>
    <key>spriteSourceSize</key>
    <string>{235,350}</string>
    <key>textureRect</key>
    <string>{{0,651},{235,350}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnRoom.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,79}</string>
    <key>spriteSourceSize</key>
    <string>{89,79}</string>
    <key>textureRect</key>
    <string>{{1012,248},{89,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_dong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{221,78}</string>
    <key>spriteSourceSize</key>
    <string>{221,78}</string>
    <key>textureRect</key>
    <string>{{0,1003},{221,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_quay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{227,135}</string>
    <key>spriteSourceSize</key>
    <string>{227,135}</string>
    <key>textureRect</key>
    <string>{{237,763},{227,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_sieutoc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{221,78}</string>
    <key>spriteSourceSize</key>
    <string>{221,78}</string>
    <key>textureRect</key>
    <string>{{237,992},{221,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_sieutoc_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{221,78}</string>
    <key>spriteSourceSize</key>
    <string>{221,78}</string>
    <key>textureRect</key>
    <string>{{466,920},{221,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_tuquay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,79}</string>
    <key>spriteSourceSize</key>
    <string>{220,79}</string>
    <key>textureRect</key>
    <string>{{629,763},{220,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_tuquay_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,79}</string>
    <key>spriteSourceSize</key>
    <string>{220,79}</string>
    <key>textureRect</key>
    <string>{{756,651},{220,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_close.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,105}</string>
    <key>spriteSourceSize</key>
    <string>{120,105}</string>
    <key>textureRect</key>
    <string>{{895,368},{120,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_help.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{107,97}</string>
    <key>spriteSourceSize</key>
    <string>{107,97}</string>
    <key>textureRect</key>
    <string>{{689,1030},{107,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_history.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{107,97}</string>
    <key>spriteSourceSize</key>
    <string>{107,97}</string>
    <key>textureRect</key>
    <string>{{964,983},{107,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_vd.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{107,98}</string>
    <key>spriteSourceSize</key>
    <string>{107,98}</string>
    <key>textureRect</key>
    <string>{{579,1000},{107,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_wild.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{161,155}</string>
    <key>spriteSourceSize</key>
    <string>{161,155}</string>
    <key>textureRect</key>
    <string>{{466,763},{161,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_x20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,133}</string>
    <key>spriteSourceSize</key>
    <string>{108,133}</string>
    <key>textureRect</key>
    <string>{{895,113},{108,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_x3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,92}</string>
    <key>spriteSourceSize</key>
    <string>{104,92}</string>
    <key>textureRect</key>
    <string>{{1005,113},{104,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_x40.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,111}</string>
    <key>spriteSourceSize</key>
    <string>{134,111}</string>
    <key>textureRect</key>
    <string>{{895,0},{134,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_x7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,118}</string>
    <key>spriteSourceSize</key>
    <string>{115,118}</string>
    <key>textureRect</key>
    <string>{{895,248},{115,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_x85.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{123,100}</string>
    <key>spriteSourceSize</key>
    <string>{123,100}</string>
    <key>textureRect</key>
    <string>{{895,475},{123,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1111,1129}</string>
   <key>textureFileName</key>
   <string>Main.png</string>
  </dict>
 </dict>
</plist>
