<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>btn_nohu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{221,78}</string>
    <key>spriteSourceSize</key>
    <string>{221,78}</string>
    <key>textureRect</key>
    <string>{{977,80},{221,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_nohu_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{221,78}</string>
    <key>spriteSourceSize</key>
    <string>{221,78}</string>
    <key>textureRect</key>
    <string>{{977,160},{221,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_tl.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{221,78}</string>
    <key>spriteSourceSize</key>
    <string>{221,78}</string>
    <key>textureRect</key>
    <string>{{977,240},{221,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_tl_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{221,78}</string>
    <key>spriteSourceSize</key>
    <string>{221,78}</string>
    <key>textureRect</key>
    <string>{{977,0},{221,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{981,3}</string>
    <key>spriteSourceSize</key>
    <string>{981,3}</string>
    <key>textureRect</key>
    <string>{{0,1534},{981,3}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pu_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{1066,623}</string>
    <key>spriteSourceSize</key>
    <string>{1066,627}</string>
    <key>textureRect</key>
    <string>{{0,853},{1066,623}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>round01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1002,54}</string>
    <key>spriteSourceSize</key>
    <string>{1002,54}</string>
    <key>textureRect</key>
    <string>{{0,1478},{1002,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_ct.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{159,55}</string>
    <key>spriteSourceSize</key>
    <string>{159,55}</string>
    <key>textureRect</key>
    <string>{{977,498},{159,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_hd.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{226,59}</string>
    <key>spriteSourceSize</key>
    <string>{226,59}</string>
    <key>textureRect</key>
    <string>{{977,320},{226,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_ls.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{157,63}</string>
    <key>spriteSourceSize</key>
    <string>{157,64}</string>
    <key>textureRect</key>
    <string>{{977,433},{157,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_vd.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{204,50}</string>
    <key>spriteSourceSize</key>
    <string>{204,50}</string>
    <key>textureRect</key>
    <string>{{977,381},{204,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txt_hd.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{975,851}</string>
    <key>spriteSourceSize</key>
    <string>{975,851}</string>
    <key>textureRect</key>
    <string>{{0,0},{975,851}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txt_xemthem.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,20}</string>
    <key>spriteSourceSize</key>
    <string>{100,20}</string>
    <key>textureRect</key>
    <string>{{977,555},{100,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1205,1539}</string>
   <key>textureFileName</key>
   <string>Popup.png</string>
  </dict>
 </dict>
</plist>
