<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>100K_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,90}</string>
    <key>spriteSourceSize</key>
    <string>{71,90}</string>
    <key>textureRect</key>
    <string>{{1973,965},{71,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>100K_OFF_s.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{1880,1608},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>100K_ON.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,98}</string>
    <key>spriteSourceSize</key>
    <string>{86,98}</string>
    <key>textureRect</key>
    <string>{{1182,1062},{86,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>10K_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,90}</string>
    <key>spriteSourceSize</key>
    <string>{69,90}</string>
    <key>textureRect</key>
    <string>{{1624,1704},{69,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>10K_OFF_s.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{1880,1660},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>10K_ON.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,98}</string>
    <key>spriteSourceSize</key>
    <string>{86,98}</string>
    <key>textureRect</key>
    <string>{{1182,1262},{86,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1K_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,90}</string>
    <key>spriteSourceSize</key>
    <string>{69,90}</string>
    <key>textureRect</key>
    <string>{{1695,1704},{69,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1K_OFF_s.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{1673,1901},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1K_ON.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,98}</string>
    <key>spriteSourceSize</key>
    <string>{84,98}</string>
    <key>textureRect</key>
    <string>{{794,1938},{84,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1M_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,90}</string>
    <key>spriteSourceSize</key>
    <string>{70,90}</string>
    <key>textureRect</key>
    <string>{{1973,1057},{70,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1M_OFF_s.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{49,49}</string>
    <key>spriteSourceSize</key>
    <string>{49,49}</string>
    <key>textureRect</key>
    <string>{{1621,1953},{49,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1M_ON.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,98}</string>
    <key>spriteSourceSize</key>
    <string>{86,98}</string>
    <key>textureRect</key>
    <string>{{1182,962},{86,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>2K_OFF_s.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{1932,1608},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>3K_OFF_s.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{1621,1901},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>500K_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,90}</string>
    <key>spriteSourceSize</key>
    <string>{69,90}</string>
    <key>textureRect</key>
    <string>{{1553,1704},{69,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>500K_OFF_s.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{1766,1704},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>500K_ON.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,98}</string>
    <key>spriteSourceSize</key>
    <string>{84,98}</string>
    <key>textureRect</key>
    <string>{{1182,1362},{84,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>50K_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,90}</string>
    <key>spriteSourceSize</key>
    <string>{69,90}</string>
    <key>textureRect</key>
    <string>{{1943,1315},{69,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>50K_OFF_s.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{1880,1712},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>50K_ON.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,98}</string>
    <key>spriteSourceSize</key>
    <string>{86,98}</string>
    <key>textureRect</key>
    <string>{{1182,1162},{86,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5K_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,90}</string>
    <key>spriteSourceSize</key>
    <string>{69,90}</string>
    <key>textureRect</key>
    <string>{{1880,1463},{69,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5K_OFF_s.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{1818,1704},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5K_ON.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,98}</string>
    <key>spriteSourceSize</key>
    <string>{84,98}</string>
    <key>textureRect</key>
    <string>{{1774,1149},{84,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>D_Ho.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{474,239}</string>
    <key>spriteSourceSize</key>
    <string>{474,239}</string>
    <key>textureRect</key>
    <string>{{928,1463},{474,239}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>D_Ho_Disable.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{490,252}</string>
    <key>spriteSourceSize</key>
    <string>{490,252}</string>
    <key>textureRect</key>
    <string>{{1282,722},{490,252}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>D_Ho_win.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{474,239}</string>
    <key>spriteSourceSize</key>
    <string>{474,239}</string>
    <key>textureRect</key>
    <string>{{1404,1463},{474,239}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>D_Hoa.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,219}</string>
    <key>spriteSourceSize</key>
    <string>{192,219}</string>
    <key>textureRect</key>
    <string>{{1819,454},{192,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>D_Hoa_Disable.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,231}</string>
    <key>spriteSourceSize</key>
    <string>{198,231}</string>
    <key>textureRect</key>
    <string>{{1819,0},{198,231}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>D_Hoa_win.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,219}</string>
    <key>spriteSourceSize</key>
    <string>{192,219}</string>
    <key>textureRect</key>
    <string>{{1819,233},{192,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>D_Rong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{472,239}</string>
    <key>spriteSourceSize</key>
    <string>{472,239}</string>
    <key>textureRect</key>
    <string>{{1147,1799},{472,239}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>D_Rong_Disable.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{489,252}</string>
    <key>spriteSourceSize</key>
    <string>{489,252}</string>
    <key>textureRect</key>
    <string>{{1282,976},{489,252}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Ho.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,41}</string>
    <key>spriteSourceSize</key>
    <string>{53,41}</string>
    <key>textureRect</key>
    <string>{{1012,1751},{53,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Hoa.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,37}</string>
    <key>spriteSourceSize</key>
    <string>{73,37}</string>
    <key>textureRect</key>
    <string>{{1897,675},{73,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Rong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{99,47}</string>
    <key>spriteSourceSize</key>
    <string>{99,47}</string>
    <key>textureRect</key>
    <string>{{1943,1407},{99,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>TEXT_HD.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{926,334}</string>
    <key>spriteSourceSize</key>
    <string>{926,334}</string>
    <key>textureRect</key>
    <string>{{0,1463},{926,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ava_default.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{83,82}</string>
    <key>spriteSourceSize</key>
    <string>{83,82}</string>
    <key>textureRect</key>
    <string>{{1888,965},{83,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ava_plaer.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{121,51}</string>
    <key>spriteSourceSize</key>
    <string>{121,51}</string>
    <key>textureRect</key>
    <string>{{1880,1555},{121,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ava_sheld.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,113}</string>
    <key>spriteSourceSize</key>
    <string>{112,113}</string>
    <key>textureRect</key>
    <string>{{1774,965},{112,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ava_sheld_demo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{87,87}</string>
    <key>spriteSourceSize</key>
    <string>{87,87}</string>
    <key>textureRect</key>
    <string>{{1215,1704},{87,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ban.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1180,499}</string>
    <key>spriteSourceSize</key>
    <string>{1180,499}</string>
    <key>textureRect</key>
    <string>{{0,962},{1180,499}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1280,960}</string>
    <key>spriteSourceSize</key>
    <string>{1280,960}</string>
    <key>textureRect</key>
    <string>{{0,0},{1280,960}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_acc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1145,137}</string>
    <key>spriteSourceSize</key>
    <string>{1145,137}</string>
    <key>textureRect</key>
    <string>{{0,1799},{1145,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_menu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,161}</string>
    <key>spriteSourceSize</key>
    <string>{111,161}</string>
    <key>textureRect</key>
    <string>{{1774,802},{111,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_phien.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{146,67}</string>
    <key>spriteSourceSize</key>
    <string>{146,67}</string>
    <key>textureRect</key>
    <string>{{1774,1080},{146,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_time.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,113}</string>
    <key>spriteSourceSize</key>
    <string>{112,113}</string>
    <key>textureRect</key>
    <string>{{1887,802},{112,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_titlepop.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,42}</string>
    <key>spriteSourceSize</key>
    <string>{76,42}</string>
    <key>textureRect</key>
    <string>{{1819,675},{76,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgchat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{535,720}</string>
    <key>spriteSourceSize</key>
    <string>{535,720}</string>
    <key>textureRect</key>
    <string>{{1282,0},{535,720}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bt_close.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,68}</string>
    <key>spriteSourceSize</key>
    <string>{68,68}</string>
    <key>textureRect</key>
    <string>{{1951,1463},{68,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_DatLai.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{1860,1149},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_HD.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{1943,1149},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_VD.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{1470,1704},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_back.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{1679,1349},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_chat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{963,1938},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_close.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,56}</string>
    <key>spriteSourceSize</key>
    <string>{58,56}</string>
    <key>textureRect</key>
    <string>{{1860,1399},{58,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_lsc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{1860,1316},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_menu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{1774,1249},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_music.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{1943,1232},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_music_off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{1046,1938},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_send.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,46}</string>
    <key>spriteSourceSize</key>
    <string>{82,46}</string>
    <key>textureRect</key>
    <string>{{928,1751},{82,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_soiCau.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{1304,1704},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_sound.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{1774,1333},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_sound_off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{1860,1233},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_x2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{880,1938},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fold.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{49,62}</string>
    <key>spriteSourceSize</key>
    <string>{49,62}</string>
    <key>textureRect</key>
    <string>{{1922,1080},{49,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>p_Ho.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,35}</string>
    <key>spriteSourceSize</key>
    <string>{35,35}</string>
    <key>textureRect</key>
    <string>{{1109,1751},{35,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>p_Hoa.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,35}</string>
    <key>spriteSourceSize</key>
    <string>{35,35}</string>
    <key>textureRect</key>
    <string>{{1972,675},{35,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>p_Rong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,35}</string>
    <key>spriteSourceSize</key>
    <string>{35,35}</string>
    <key>textureRect</key>
    <string>{{1146,1751},{35,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sq.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,40}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{1067,1751},{40,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>textbox_chat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{285,45}</string>
    <key>spriteSourceSize</key>
    <string>{285,45}</string>
    <key>textureRect</key>
    <string>{{928,1704},{285,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{395,104}</string>
    <key>spriteSourceSize</key>
    <string>{395,104}</string>
    <key>textureRect</key>
    <string>{{397,1938},{395,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_BXH.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{395,100}</string>
    <key>spriteSourceSize</key>
    <string>{395,100}</string>
    <key>textureRect</key>
    <string>{{1621,1799},{395,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_ls.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{395,104}</string>
    <key>spriteSourceSize</key>
    <string>{395,104}</string>
    <key>textureRect</key>
    <string>{{0,1938},{395,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_pInfo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{445,117}</string>
    <key>spriteSourceSize</key>
    <string>{445,117}</string>
    <key>textureRect</key>
    <string>{{1282,1230},{445,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_sC.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{395,105}</string>
    <key>spriteSourceSize</key>
    <string>{395,105}</string>
    <key>textureRect</key>
    <string>{{1282,1349},{395,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>user.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{1387,1704},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>vang-btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{268,78}</string>
    <key>spriteSourceSize</key>
    <string>{268,78}</string>
    <key>textureRect</key>
    <string>{{1774,722},{268,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2048,2048}</string>
   <key>textureFileName</key>
   <string>LongHo_0.png</string>
  </dict>
 </dict>
</plist>
