<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>page_separator_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,39}</string>
    <key>spriteSourceSize</key>
    <string>{39,39}</string>
    <key>textureRect</key>
    <string>{{82,41},{39,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>page_separator_02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,39}</string>
    <key>spriteSourceSize</key>
    <string>{39,39}</string>
    <key>textureRect</key>
    <string>{{0,0},{39,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>page_separator_03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,39}</string>
    <key>spriteSourceSize</key>
    <string>{39,39}</string>
    <key>textureRect</key>
    <string>{{41,0},{39,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>page_separator_04.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,39}</string>
    <key>spriteSourceSize</key>
    <string>{39,39}</string>
    <key>textureRect</key>
    <string>{{0,41},{39,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>page_separator_05.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,39}</string>
    <key>spriteSourceSize</key>
    <string>{39,39}</string>
    <key>textureRect</key>
    <string>{{41,41},{39,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>page_separator_06.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,39}</string>
    <key>spriteSourceSize</key>
    <string>{39,39}</string>
    <key>textureRect</key>
    <string>{{82,0},{39,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{123,82}</string>
   <key>textureFileName</key>
   <string>Main.png</string>
  </dict>
 </dict>
</plist>
