<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>avatar.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,120}</string>
    <key>spriteSourceSize</key>
    <string>{133,120}</string>
    <key>textureRect</key>
    <string>{{0,252},{133,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>baomat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,65}</string>
    <key>textureRect</key>
    <string>{{471,471},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgTop.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{414,82}</string>
    <key>spriteSourceSize</key>
    <string>{414,82}</string>
    <key>textureRect</key>
    <string>{{0,0},{414,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnQMK.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,24}</string>
    <key>spriteSourceSize</key>
    <string>{170,24}</string>
    <key>textureRect</key>
    <string>{{265,458},{170,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_DangKy.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{227,82}</string>
    <key>spriteSourceSize</key>
    <string>{227,82}</string>
    <key>textureRect</key>
    <string>{{0,84},{227,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_DangNhap.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{227,82}</string>
    <key>spriteSourceSize</key>
    <string>{227,82}</string>
    <key>textureRect</key>
    <string>{{0,168},{227,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnx2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,80}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{416,0},{80,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>code.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,96}</string>
    <key>spriteSourceSize</key>
    <string>{129,97}</string>
    <key>textureRect</key>
    <string>{{135,252},{129,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cskh.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,96}</string>
    <key>spriteSourceSize</key>
    <string>{129,96}</string>
    <key>textureRect</key>
    <string>{{266,252},{129,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fb.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,88}</string>
    <key>spriteSourceSize</key>
    <string>{128,89}</string>
    <key>textureRect</key>
    <string>{{135,405},{128,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>group.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,90}</string>
    <key>spriteSourceSize</key>
    <string>{128,91}</string>
    <key>textureRect</key>
    <string>{{359,139},{128,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khungtien.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{308,53}</string>
    <key>spriteSourceSize</key>
    <string>{308,53}</string>
    <key>textureRect</key>
    <string>{{229,84},{308,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>light.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,30}</string>
    <key>spriteSourceSize</key>
    <string>{143,31}</string>
    <key>textureRect</key>
    <string>{{135,495},{143,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mail.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,65}</string>
    <key>textureRect</key>
    <string>{{465,252},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>notif.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{204,51}</string>
    <key>spriteSourceSize</key>
    <string>{204,51}</string>
    <key>textureRect</key>
    <string>{{265,405},{204,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>quit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,34}</string>
    <key>spriteSourceSize</key>
    <string>{42,34}</string>
    <key>textureRect</key>
    <string>{{0,472},{42,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>setting.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,65}</string>
    <key>spriteSourceSize</key>
    <string>{66,65}</string>
    <key>textureRect</key>
    <string>{{397,252},{66,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>smartOTP.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,96}</string>
    <key>spriteSourceSize</key>
    <string>{128,96}</string>
    <key>textureRect</key>
    <string>{{0,374},{128,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sukien.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,100}</string>
    <key>spriteSourceSize</key>
    <string>{128,101}</string>
    <key>textureRect</key>
    <string>{{229,139},{128,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_game.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{151,47}</string>
    <key>spriteSourceSize</key>
    <string>{151,47}</string>
    <key>textureRect</key>
    <string>{{359,350},{151,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tophu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{222,53}</string>
    <key>spriteSourceSize</key>
    <string>{222,53}</string>
    <key>textureRect</key>
    <string>{{135,350},{222,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>vip.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,65}</string>
    <key>textureRect</key>
    <string>{{471,405},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{539,537}</string>
   <key>textureFileName</key>
   <string>Header.png</string>
  </dict>
 </dict>
</plist>
