<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>BaoMat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{0,240},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BaoMatOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{151,240},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BtnKetSat1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,45}</string>
    <key>spriteSourceSize</key>
    <string>{150,46}</string>
    <key>textureRect</key>
    <string>{{0,360},{150,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BtnKetSat2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,46}</string>
    <key>spriteSourceSize</key>
    <string>{149,46}</string>
    <key>textureRect</key>
    <string>{{151,300},{149,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BtnKetSatOff1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,45}</string>
    <key>spriteSourceSize</key>
    <string>{149,46}</string>
    <key>textureRect</key>
    <string>{{302,180},{149,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BtnKetSatOff2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,45}</string>
    <key>spriteSourceSize</key>
    <string>{149,46}</string>
    <key>textureRect</key>
    <string>{{302,227},{149,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DoiThe.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{302,0},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DoiTheOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{302,60},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>KetSat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{0,0},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>KetSatOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{0,60},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>LichSuDoiThe.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{0,120},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>LichSuDoiTheOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{151,0},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>MatKhau.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{151,60},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>MatKhauOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{0,180},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ThongTinOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{151,180},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_InfoOn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{0,300},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_OTPSMS.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{95,64}</string>
    <key>spriteSourceSize</key>
    <string>{95,64}</string>
    <key>textureRect</key>
    <string>{{302,274},{95,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_OTPTELE.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{95,64}</string>
    <key>spriteSourceSize</key>
    <string>{95,64}</string>
    <key>textureRect</key>
    <string>{{302,340},{95,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_select.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,58}</string>
    <key>spriteSourceSize</key>
    <string>{148,58}</string>
    <key>textureRect</key>
    <string>{{302,120},{148,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_unselect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,59}</string>
    <key>textureRect</key>
    <string>{{151,120},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{453,407}</string>
   <key>textureFileName</key>
   <string>Profile.png</string>
  </dict>
 </dict>
</plist>
