<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>V0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,29}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{543,216},{35,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,29}</string>
    <key>textureRect</key>
    <string>{{123,214},{32,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,28}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{563,186},{35,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,28}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{600,186},{35,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,29}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{584,102},{35,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,29}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{586,140},{35,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,29}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{580,216},{35,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,29}</string>
    <key>spriteSourceSize</key>
    <string>{36,29}</string>
    <key>textureRect</key>
    <string>{{546,102},{36,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,28}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{621,102},{35,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Vip1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{61,25}</string>
    <key>spriteSourceSize</key>
    <string>{61,25}</string>
    <key>textureRect</key>
    <string>{{523,140},{61,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Vip2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,26}</string>
    <key>spriteSourceSize</key>
    <string>{64,26}</string>
    <key>textureRect</key>
    <string>{{412,216},{64,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Vip3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,26}</string>
    <key>spriteSourceSize</key>
    <string>{63,27}</string>
    <key>textureRect</key>
    <string>{{481,102},{63,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Vip4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,25}</string>
    <key>spriteSourceSize</key>
    <string>{64,25}</string>
    <key>textureRect</key>
    <string>{{158,234},{64,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Vip5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,26}</string>
    <key>spriteSourceSize</key>
    <string>{64,26}</string>
    <key>textureRect</key>
    <string>{{431,186},{64,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Vip6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,26}</string>
    <key>spriteSourceSize</key>
    <string>{64,26}</string>
    <key>textureRect</key>
    <string>{{457,140},{64,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Vip7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,25}</string>
    <key>spriteSourceSize</key>
    <string>{64,25}</string>
    <key>textureRect</key>
    <string>{{497,186},{64,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Vip8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,26}</string>
    <key>spriteSourceSize</key>
    <string>{63,27}</string>
    <key>textureRect</key>
    <string>{{478,216},{63,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Vip9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,26}</string>
    <key>spriteSourceSize</key>
    <string>{65,26}</string>
    <key>textureRect</key>
    <string>{{345,216},{65,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_VipOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,52}</string>
    <key>spriteSourceSize</key>
    <string>{80,52}</string>
    <key>textureRect</key>
    <string>{{263,140},{80,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_VipOn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,52}</string>
    <key>spriteSourceSize</key>
    <string>{80,52}</string>
    <key>textureRect</key>
    <string>{{263,194},{80,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgbxhline.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{445,18}</string>
    <key>spriteSourceSize</key>
    <string>{445,18}</string>
    <key>textureRect</key>
    <string>{{158,68},{445,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnChangeVsao.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,50}</string>
    <key>spriteSourceSize</key>
    <string>{108,50}</string>
    <key>textureRect</key>
    <string>{{263,88},{108,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_CodeChang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{103,72}</string>
    <key>spriteSourceSize</key>
    <string>{103,73}</string>
    <key>textureRect</key>
    <string>{{158,88},{103,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_CodeNgay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{101,70}</string>
    <key>spriteSourceSize</key>
    <string>{101,71}</string>
    <key>textureRect</key>
    <string>{{158,162},{101,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_Highlight.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{669,66}</string>
    <key>spriteSourceSize</key>
    <string>{669,67}</string>
    <key>textureRect</key>
    <string>{{0,0},{669,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_LineBg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{252,12}</string>
    <key>spriteSourceSize</key>
    <string>{252,12}</string>
    <key>textureRect</key>
    <string>{{373,88},{252,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_LineOn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{252,12}</string>
    <key>spriteSourceSize</key>
    <string>{252,12}</string>
    <key>textureRect</key>
    <string>{{345,172},{252,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_VIPIcon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{156,144}</string>
    <key>spriteSourceSize</key>
    <string>{156,144}</string>
    <key>textureRect</key>
    <string>{{0,68},{156,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lbTiGia.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{121,32}</string>
    <key>spriteSourceSize</key>
    <string>{121,32}</string>
    <key>textureRect</key>
    <string>{{0,214},{121,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lbUpCap.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,29}</string>
    <key>spriteSourceSize</key>
    <string>{106,29}</string>
    <key>textureRect</key>
    <string>{{373,102},{106,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lbVipPoint.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,28}</string>
    <key>spriteSourceSize</key>
    <string>{84,29}</string>
    <key>textureRect</key>
    <string>{{345,186},{84,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lbVpG.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,30}</string>
    <key>spriteSourceSize</key>
    <string>{110,30}</string>
    <key>textureRect</key>
    <string>{{345,140},{110,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{671,261}</string>
   <key>textureFileName</key>
   <string>Vip.png</string>
  </dict>
 </dict>
</plist>
