<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,23}</string>
    <key>spriteSourceSize</key>
    <string>{24,23}</string>
    <key>textureRect</key>
    <string>{{365,1685},{24,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{1982,1981},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{329,1913},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{329,1773},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{329,1808},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{1977,1082},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{2012,1047},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{2012,1082},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{1947,1946},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{1947,1981},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{1982,1946},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,22}</string>
    <key>spriteSourceSize</key>
    <string>{24,23}</string>
    <key>textureRect</key>
    <string>{{364,1773},{24,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,23}</string>
    <key>spriteSourceSize</key>
    <string>{24,23}</string>
    <key>textureRect</key>
    <string>{{365,1660},{24,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{1999,664},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{329,1948},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{1977,1047},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{673,1985},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{1999,629},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{673,1950},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BallCircle.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{329,1730},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Cau_Tai.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{329,1878},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Cau_Xiu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{329,1843},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Group337.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,76}</string>
    <key>spriteSourceSize</key>
    <string>{76,76}</string>
    <key>textureRect</key>
    <string>{{1884,1680},{76,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>POPUP.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{327,440}</string>
    <key>spriteSourceSize</key>
    <string>{327,440}</string>
    <key>textureRect</key>
    <string>{{0,1560},{327,440}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,29}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{1929,346},{35,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,29}</string>
    <key>textureRect</key>
    <string>{{1947,2016},{32,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,28}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{1869,1472},{35,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,28}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{1906,1472},{35,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,29}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{1966,346},{35,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,29}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{1795,1472},{35,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,29}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{2003,346},{35,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,29}</string>
    <key>spriteSourceSize</key>
    <string>{36,29}</string>
    <key>textureRect</key>
    <string>{{1372,1092},{36,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,28}</string>
    <key>spriteSourceSize</key>
    <string>{35,29}</string>
    <key>textureRect</key>
    <string>{{1832,1472},{35,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>X2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{329,1560},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0001_tungxuxxac_017.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{400,378}</string>
    <key>spriteSourceSize</key>
    <string>{402,381}</string>
    <key>textureRect</key>
    <string>{{799,1124},{400,378}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0002_tungxuxxac_016.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{398,375}</string>
    <key>spriteSourceSize</key>
    <string>{400,377}</string>
    <key>textureRect</key>
    <string>{{1529,0},{398,375}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0003_tungxuxxac_015.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,399}</string>
    <key>spriteSourceSize</key>
    <string>{396,399}</string>
    <key>textureRect</key>
    <string>{{1133,0},{394,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0004_tungxuxxac_014.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{402,378}</string>
    <key>spriteSourceSize</key>
    <string>{404,381}</string>
    <key>textureRect</key>
    <string>{{395,1124},{402,378}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0005_tungxuxxac_013.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{366,364}</string>
    <key>spriteSourceSize</key>
    <string>{368,367}</string>
    <key>textureRect</key>
    <string>{{724,1504},{366,364}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0006_tungxuxxac_012.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{382,376}</string>
    <key>spriteSourceSize</key>
    <string>{384,379}</string>
    <key>textureRect</key>
    <string>{{1529,377},{382,376}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0007_tungxuxxac_011.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{362,353}</string>
    <key>spriteSourceSize</key>
    <string>{364,355}</string>
    <key>textureRect</key>
    <string>{{1092,1504},{362,353}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0027_tungxuxxac_020.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{368,360}</string>
    <key>spriteSourceSize</key>
    <string>{370,363}</string>
    <key>textureRect</key>
    <string>{{1529,755},{368,360}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0028_tungxuxxac_019.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{380,355}</string>
    <key>spriteSourceSize</key>
    <string>{382,357}</string>
    <key>textureRect</key>
    <string>{{1201,1124},{380,355}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0029_tungxuxxac_018.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{368,346}</string>
    <key>spriteSourceSize</key>
    <string>{370,349}</string>
    <key>textureRect</key>
    <string>{{1583,1124},{368,346}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>back.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,68}</string>
    <key>spriteSourceSize</key>
    <string>{34,69}</string>
    <key>textureRect</key>
    <string>{{329,1660},{34,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1131,556}</string>
    <key>spriteSourceSize</key>
    <string>{1131,557}</string>
    <key>textureRect</key>
    <string>{{0,0},{1131,556}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_SoiCau1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{583,175}</string>
    <key>spriteSourceSize</key>
    <string>{583,175}</string>
    <key>textureRect</key>
    <string>{{724,1870},{583,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_SoiCau2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{636,158}</string>
    <key>spriteSourceSize</key>
    <string>{636,158}</string>
    <key>textureRect</key>
    <string>{{1309,1870},{636,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_chat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{327,444}</string>
    <key>spriteSourceSize</key>
    <string>{327,445}</string>
    <key>textureRect</key>
    <string>{{395,1504},{327,444}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_elipse.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,78}</string>
    <key>spriteSourceSize</key>
    <string>{76,78}</string>
    <key>textureRect</key>
    <string>{{1899,1001},{76,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_notify.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{549,125}</string>
    <key>spriteSourceSize</key>
    <string>{549,125}</string>
    <key>textureRect</key>
    <string>{{704,986},{549,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgtaixiu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{823,426}</string>
    <key>spriteSourceSize</key>
    <string>{823,426}</string>
    <key>textureRect</key>
    <string>{{704,558},{823,426}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bottom_lixi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{140,118}</string>
    <key>spriteSourceSize</key>
    <string>{140,118}</string>
    <key>textureRect</key>
    <string>{{1899,755},{140,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_Loc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,137}</string>
    <key>spriteSourceSize</key>
    <string>{119,137}</string>
    <key>textureRect</key>
    <string>{{1913,377},{119,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_X.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,74}</string>
    <key>spriteSourceSize</key>
    <string>{75,74}</string>
    <key>textureRect</key>
    <string>{{1947,1870},{75,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_chat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,84}</string>
    <key>spriteSourceSize</key>
    <string>{84,84}</string>
    <key>textureRect</key>
    <string>{{1913,629},{84,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_hand.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,76}</string>
    <key>spriteSourceSize</key>
    <string>{76,76}</string>
    <key>textureRect</key>
    <string>{{1953,1124},{76,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_history.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,76}</string>
    <key>spriteSourceSize</key>
    <string>{76,76}</string>
    <key>textureRect</key>
    <string>{{1962,1680},{76,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_info.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,76}</string>
    <key>spriteSourceSize</key>
    <string>{76,76}</string>
    <key>textureRect</key>
    <string>{{1953,1202},{76,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_light.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,76}</string>
    <key>spriteSourceSize</key>
    <string>{76,76}</string>
    <key>textureRect</key>
    <string>{{1953,1280},{76,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_send.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,39}</string>
    <key>spriteSourceSize</key>
    <string>{73,39}</string>
    <key>textureRect</key>
    <string>{{1899,1081},{73,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_soiCau.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,84}</string>
    <key>spriteSourceSize</key>
    <string>{84,84}</string>
    <key>textureRect</key>
    <string>{{587,1950},{84,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_tan_loc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,62}</string>
    <key>spriteSourceSize</key>
    <string>{147,62}</string>
    <key>textureRect</key>
    <string>{{1899,875},{147,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_topWin.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,76}</string>
    <key>spriteSourceSize</key>
    <string>{76,76}</string>
    <key>textureRect</key>
    <string>{{1953,1358},{76,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>datcuabtnbig.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,60}</string>
    <key>spriteSourceSize</key>
    <string>{147,60}</string>
    <key>textureRect</key>
    <string>{{1899,939},{147,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>datcuabtnsmall.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{74,59}</string>
    <key>spriteSourceSize</key>
    <string>{74,59}</string>
    <key>textureRect</key>
    <string>{{1953,1436},{74,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_focus_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{20,20}</string>
    <key>spriteSourceSize</key>
    <string>{20,20}</string>
    <key>textureRect</key>
    <string>{{1413,518},{20,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_tai_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{17,16}</string>
    <key>spriteSourceSize</key>
    <string>{17,16}</string>
    <key>textureRect</key>
    <string>{{1435,518},{17,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_xiu_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{1435,536},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>input 1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{205,64}</string>
    <key>spriteSourceSize</key>
    <string>{205,64}</string>
    <key>textureRect</key>
    <string>{{1823,1802},{205,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_top_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{365,42}</string>
    <key>spriteSourceSize</key>
    <string>{365,42}</string>
    <key>textureRect</key>
    <string>{{1456,1802},{365,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_top_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{365,42}</string>
    <key>spriteSourceSize</key>
    <string>{365,42}</string>
    <key>textureRect</key>
    <string>{{0,2002},{365,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>light_cirle.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{426,296}</string>
    <key>spriteSourceSize</key>
    <string>{426,296}</string>
    <key>textureRect</key>
    <string>{{1456,1504},{426,296}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>logo_hn_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{278,138}</string>
    <key>spriteSourceSize</key>
    <string>{278,139}</string>
    <key>textureRect</key>
    <string>{{1133,401},{278,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>logo_sg_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{154,72}</string>
    <key>spriteSourceSize</key>
    <string>{154,72}</string>
    <key>textureRect</key>
    <string>{{1884,1606},{154,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>rim_left.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{702,564}</string>
    <key>spriteSourceSize</key>
    <string>{702,564}</string>
    <key>textureRect</key>
    <string>{{0,558},{702,564}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>rim_right.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{393,434}</string>
    <key>spriteSourceSize</key>
    <string>{393,435}</string>
    <key>textureRect</key>
    <string>{{0,1124},{393,434}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_help.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,36}</string>
    <key>spriteSourceSize</key>
    <string>{148,36}</string>
    <key>textureRect</key>
    <string>{{1884,1758},{148,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_history.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,33}</string>
    <key>spriteSourceSize</key>
    <string>{108,33}</string>
    <key>textureRect</key>
    <string>{{1913,715},{108,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_lixi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,26}</string>
    <key>spriteSourceSize</key>
    <string>{115,27}</string>
    <key>textureRect</key>
    <string>{{1255,1092},{115,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_lixi_active.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{210,27}</string>
    <key>spriteSourceSize</key>
    <string>{210,27}</string>
    <key>textureRect</key>
    <string>{{1583,1472},{210,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tai_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,41}</string>
    <key>spriteSourceSize</key>
    <string>{63,41}</string>
    <key>textureRect</key>
    <string>{{329,1617},{63,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tientri_time_line.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{297,12}</string>
    <key>spriteSourceSize</key>
    <string>{297,13}</string>
    <key>textureRect</key>
    <string>{{1133,541},{297,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>top_tan_loc_active.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{190,83}</string>
    <key>spriteSourceSize</key>
    <string>{190,83}</string>
    <key>textureRect</key>
    <string>{{395,1950},{190,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txt_Tai.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,100}</string>
    <key>spriteSourceSize</key>
    <string>{149,101}</string>
    <key>textureRect</key>
    <string>{{1884,1504},{149,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txt_Xiu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{162,104}</string>
    <key>spriteSourceSize</key>
    <string>{162,105}</string>
    <key>textureRect</key>
    <string>{{1255,986},{162,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xiu_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,44}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{1977,1001},{69,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xx1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,114}</string>
    <key>spriteSourceSize</key>
    <string>{108,114}</string>
    <key>textureRect</key>
    <string>{{1929,116},{108,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xx2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,114}</string>
    <key>spriteSourceSize</key>
    <string>{108,114}</string>
    <key>textureRect</key>
    <string>{{1419,986},{108,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xx3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,114}</string>
    <key>spriteSourceSize</key>
    <string>{108,114}</string>
    <key>textureRect</key>
    <string>{{1929,0},{108,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xx4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,115}</string>
    <key>spriteSourceSize</key>
    <string>{108,115}</string>
    <key>textureRect</key>
    <string>{{1413,401},{108,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xx5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,112}</string>
    <key>spriteSourceSize</key>
    <string>{106,112}</string>
    <key>textureRect</key>
    <string>{{1929,232},{106,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xx6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,111}</string>
    <key>spriteSourceSize</key>
    <string>{105,111}</string>
    <key>textureRect</key>
    <string>{{1913,516},{105,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2048,2048}</string>
   <key>textureFileName</key>
   <string>Main_0.png</string>
  </dict>
 </dict>
</plist>
