<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Allin.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{178,70}</string>
    <key>spriteSourceSize</key>
    <string>{178,70}</string>
    <key>textureRect</key>
    <string>{{1032,1317},{178,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ChiTietPhien.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{228,32}</string>
    <key>spriteSourceSize</key>
    <string>{228,33}</string>
    <key>textureRect</key>
    <string>{{1213,1552},{228,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GapThep.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{178,70}</string>
    <key>spriteSourceSize</key>
    <string>{178,70}</string>
    <key>textureRect</key>
    <string>{{1033,1514},{178,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Hu?ngD?nchoi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{279,34}</string>
    <key>spriteSourceSize</key>
    <string>{279,34}</string>
    <key>textureRect</key>
    <string>{{1101,1392},{279,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>H?y.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{178,70}</string>
    <key>spriteSourceSize</key>
    <string>{178,70}</string>
    <key>textureRect</key>
    <string>{{1189,1440},{178,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>LINE.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{273,34}</string>
    <key>spriteSourceSize</key>
    <string>{273,34}</string>
    <key>textureRect</key>
    <string>{{0,1572},{273,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>SoiC?UTÀIX?U.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{242,32}</string>
    <key>spriteSourceSize</key>
    <string>{242,32}</string>
    <key>textureRect</key>
    <string>{{1033,1586},{242,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0000_tungxuxxac_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,178}</string>
    <key>spriteSourceSize</key>
    <string>{188,181}</string>
    <key>textureRect</key>
    <string>{{469,1440},{186,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0008_tungxuxxac_010.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{366,344}</string>
    <key>spriteSourceSize</key>
    <string>{368,347}</string>
    <key>textureRect</key>
    <string>{{0,0},{366,344}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0009_tungxuxxac_009.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{350,353}</string>
    <key>spriteSourceSize</key>
    <string>{352,355}</string>
    <key>textureRect</key>
    <string>{{370,346},{350,353}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0010_tungxuxxac_008.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{354,334}</string>
    <key>spriteSourceSize</key>
    <string>{356,337}</string>
    <key>textureRect</key>
    <string>{{0,690},{354,334}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0011_tungxuxxac_007.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{332,314}</string>
    <key>spriteSourceSize</key>
    <string>{334,317}</string>
    <key>textureRect</key>
    <string>{{370,701},{332,314}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0012_tungxuxxac_006.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{308,298}</string>
    <key>spriteSourceSize</key>
    <string>{310,301}</string>
    <key>textureRect</key>
    <string>{{722,651},{308,298}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0013_tungxuxxac_005.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{272,271}</string>
    <key>spriteSourceSize</key>
    <string>{274,273}</string>
    <key>textureRect</key>
    <string>{{414,1026},{272,271}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0014_tungxuxxac_004.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,248}</string>
    <key>spriteSourceSize</key>
    <string>{260,251}</string>
    <key>textureRect</key>
    <string>{{722,951},{258,248}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0015_tungxuxxac_003.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{230,223}</string>
    <key>spriteSourceSize</key>
    <string>{232,225}</string>
    <key>textureRect</key>
    <string>{{1032,882},{230,223}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0016_tungxuxxac_002.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,198}</string>
    <key>spriteSourceSize</key>
    <string>{200,201}</string>
    <key>textureRect</key>
    <string>{{1290,892},{198,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0017_tungxuxxac_030.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{182,169}</string>
    <key>spriteSourceSize</key>
    <string>{184,171}</string>
    <key>textureRect</key>
    <string>{{657,1440},{182,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0018_tungxuxxac_029.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,180}</string>
    <key>spriteSourceSize</key>
    <string>{194,183}</string>
    <key>textureRect</key>
    <string>{{275,1440},{192,180}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0019_tungxuxxac_028.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{210,194}</string>
    <key>spriteSourceSize</key>
    <string>{212,197}</string>
    <key>textureRect</key>
    <string>{{1262,1107},{210,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0020_tungxuxxac_027.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{228,208}</string>
    <key>spriteSourceSize</key>
    <string>{230,211}</string>
    <key>textureRect</key>
    <string>{{1032,1107},{228,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0021_tungxuxxac_026.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,229}</string>
    <key>spriteSourceSize</key>
    <string>{258,231}</string>
    <key>textureRect</key>
    <string>{{1032,651},{256,229}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0022_tungxuxxac_025.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{296,273}</string>
    <key>spriteSourceSize</key>
    <string>{298,275}</string>
    <key>textureRect</key>
    <string>{{1086,0},{296,273}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0023_tungxuxxac_024.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{324,303}</string>
    <key>spriteSourceSize</key>
    <string>{326,305}</string>
    <key>textureRect</key>
    <string>{{722,346},{324,303}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0024_tungxuxxac_023.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{348,324}</string>
    <key>spriteSourceSize</key>
    <string>{350,327}</string>
    <key>textureRect</key>
    <string>{{736,0},{348,324}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0025_tungxuxxac_022.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{366,333}</string>
    <key>spriteSourceSize</key>
    <string>{368,335}</string>
    <key>textureRect</key>
    <string>{{368,0},{366,333}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>_0000s_0026_tungxuxxac_021.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{368,342}</string>
    <key>spriteSourceSize</key>
    <string>{370,345}</string>
    <key>textureRect</key>
    <string>{{0,346},{368,342}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_History_Header.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1099,46}</string>
    <key>spriteSourceSize</key>
    <string>{1099,46}</string>
    <key>textureRect</key>
    <string>{{0,1392},{1099,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_textInputChat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{295,42}</string>
    <key>spriteSourceSize</key>
    <string>{295,42}</string>
    <key>textureRect</key>
    <string>{{1086,275},{295,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btup.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{280,280}</string>
    <key>spriteSourceSize</key>
    <string>{280,280}</string>
    <key>textureRect</key>
    <string>{{1048,346},{280,280}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_TienTriTX.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{412,196}</string>
    <key>spriteSourceSize</key>
    <string>{412,197}</string>
    <key>textureRect</key>
    <string>{{0,1026},{412,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line_history.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1099,2}</string>
    <key>spriteSourceSize</key>
    <string>{1099,3}</string>
    <key>textureRect</key>
    <string>{{368,335},{1099,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lixi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{172,239}</string>
    <key>spriteSourceSize</key>
    <string>{172,239}</string>
    <key>textureRect</key>
    <string>{{1290,651},{172,239}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>logo_hn_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,82}</string>
    <key>spriteSourceSize</key>
    <string>{164,82}</string>
    <key>textureRect</key>
    <string>{{1330,346},{164,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>logo_sg_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{273,130}</string>
    <key>spriteSourceSize</key>
    <string>{273,130}</string>
    <key>textureRect</key>
    <string>{{0,1440},{273,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>markChat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{346,72}</string>
    <key>spriteSourceSize</key>
    <string>{346,72}</string>
    <key>textureRect</key>
    <string>{{841,1440},{346,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_help_active.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,36}</string>
    <key>spriteSourceSize</key>
    <string>{218,36}</string>
    <key>textureRect</key>
    <string>{{1213,1514},{218,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_history_active.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{180,33}</string>
    <key>spriteSourceSize</key>
    <string>{180,33}</string>
    <key>textureRect</key>
    <string>{{1277,1586},{180,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_nhan_loc_active.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{190,83}</string>
    <key>spriteSourceSize</key>
    <string>{190,83}</string>
    <key>textureRect</key>
    <string>{{1262,1303},{190,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>table_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{321,166}</string>
    <key>spriteSourceSize</key>
    <string>{321,166}</string>
    <key>textureRect</key>
    <string>{{0,1224},{321,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tientri_time_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{260,184}</string>
    <key>spriteSourceSize</key>
    <string>{260,184}</string>
    <key>textureRect</key>
    <string>{{722,1201},{260,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>top_nhan_loc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{190,83}</string>
    <key>spriteSourceSize</key>
    <string>{190,83}</string>
    <key>textureRect</key>
    <string>{{841,1514},{190,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>top_tan_loc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{190,83}</string>
    <key>spriteSourceSize</key>
    <string>{190,83}</string>
    <key>textureRect</key>
    <string>{{414,1299},{190,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1496,1622}</string>
   <key>textureFileName</key>
   <string>Main_1.png</string>
  </dict>
 </dict>
</plist>
