<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>top1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,80}</string>
    <key>spriteSourceSize</key>
    <string>{86,80}</string>
    <key>textureRect</key>
    <string>{{0,0},{86,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>top2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{78,72}</string>
    <key>spriteSourceSize</key>
    <string>{78,72}</string>
    <key>textureRect</key>
    <string>{{0,82},{78,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>top3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,60}</string>
    <key>spriteSourceSize</key>
    <string>{63,60}</string>
    <key>textureRect</key>
    <string>{{88,0},{63,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>top4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{153,0},{52,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>top5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,54}</string>
    <key>spriteSourceSize</key>
    <string>{53,54}</string>
    <key>textureRect</key>
    <string>{{150,62},{53,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>top6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,54}</string>
    <key>spriteSourceSize</key>
    <string>{60,54}</string>
    <key>textureRect</key>
    <string>{{88,62},{60,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>top7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,45}</string>
    <key>spriteSourceSize</key>
    <string>{55,45}</string>
    <key>textureRect</key>
    <string>{{88,118},{55,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>top8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,44}</string>
    <key>spriteSourceSize</key>
    <string>{55,44}</string>
    <key>textureRect</key>
    <string>{{145,118},{55,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{207,165}</string>
   <key>textureFileName</key>
   <string>Rank.png</string>
  </dict>
 </dict>
</plist>
