<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>tile.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{130,26}</string>
    <key>spriteSourceSize</key>
    <string>{130,27}</string>
    <key>textureRect</key>
    <string>{{466,105},{130,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleBXH.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{333,72}</string>
    <key>spriteSourceSize</key>
    <string>{333,72}</string>
    <key>textureRect</key>
    <string>{{0,159},{333,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleCaNhan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{211,46}</string>
    <key>spriteSourceSize</key>
    <string>{211,47}</string>
    <key>textureRect</key>
    <string>{{399,399},{211,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleCaiDat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{194,52}</string>
    <key>spriteSourceSize</key>
    <string>{194,52}</string>
    <key>textureRect</key>
    <string>{{412,293},{194,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleDK.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{222,46}</string>
    <key>spriteSourceSize</key>
    <string>{222,47}</string>
    <key>textureRect</key>
    <string>{{287,548},{222,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleDN.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{285,52}</string>
    <key>spriteSourceSize</key>
    <string>{285,52}</string>
    <key>textureRect</key>
    <string>{{0,449},{285,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleDatTen.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{464,52}</string>
    <key>spriteSourceSize</key>
    <string>{464,52}</string>
    <key>textureRect</key>
    <string>{{0,105},{464,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleGD.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{235,46}</string>
    <key>spriteSourceSize</key>
    <string>{235,46}</string>
    <key>textureRect</key>
    <string>{{287,449},{235,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleGiftCode.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{222,40}</string>
    <key>spriteSourceSize</key>
    <string>{222,40}</string>
    <key>textureRect</key>
    <string>{{0,557},{222,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleHD.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{282,52}</string>
    <key>spriteSourceSize</key>
    <string>{282,52}</string>
    <key>textureRect</key>
    <string>{{0,503},{282,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleHuySDT.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{210,49}</string>
    <key>spriteSourceSize</key>
    <string>{210,49}</string>
    <key>textureRect</key>
    <string>{{287,497},{210,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleHuySmartOTP.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{397,48}</string>
    <key>spriteSourceSize</key>
    <string>{397,49}</string>
    <key>textureRect</key>
    <string>{{0,399},{397,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleLS.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,55}</string>
    <key>spriteSourceSize</key>
    <string>{184,55}</string>
    <key>textureRect</key>
    <string>{{403,233},{184,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleMaGT.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{344,52}</string>
    <key>spriteSourceSize</key>
    <string>{344,52}</string>
    <key>textureRect</key>
    <string>{{257,0},{344,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleNapX2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{410,56}</string>
    <key>spriteSourceSize</key>
    <string>{410,56}</string>
    <key>textureRect</key>
    <string>{{0,293},{410,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleNhapOTP.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{242,52}</string>
    <key>spriteSourceSize</key>
    <string>{242,52}</string>
    <key>textureRect</key>
    <string>{{335,159},{242,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleQMK.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{401,58}</string>
    <key>spriteSourceSize</key>
    <string>{401,58}</string>
    <key>textureRect</key>
    <string>{{0,233},{401,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleTTCN.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{470,46}</string>
    <key>spriteSourceSize</key>
    <string>{470,47}</string>
    <key>textureRect</key>
    <string>{{0,351},{470,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>titleThongBao.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{275,47}</string>
    <key>spriteSourceSize</key>
    <string>{275,47}</string>
    <key>textureRect</key>
    <string>{{257,54},{275,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tophu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,103}</string>
    <key>spriteSourceSize</key>
    <string>{255,103}</string>
    <key>textureRect</key>
    <string>{{0,0},{255,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{612,599}</string>
   <key>textureFileName</key>
   <string>Title.png</string>
  </dict>
 </dict>
</plist>
