<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>auraXanhLaCopy3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,150}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{0,0},{150,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chip100K.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,120}</string>
    <key>spriteSourceSize</key>
    <string>{119,120}</string>
    <key>textureRect</key>
    <string>{{152,0},{119,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chip10K.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,119}</string>
    <key>spriteSourceSize</key>
    <string>{119,119}</string>
    <key>textureRect</key>
    <string>{{0,273},{119,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chip1KCopy.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,119}</string>
    <key>spriteSourceSize</key>
    <string>{119,119}</string>
    <key>textureRect</key>
    <string>{{242,273},{119,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chip1M.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,119}</string>
    <key>spriteSourceSize</key>
    <string>{119,119}</string>
    <key>textureRect</key>
    <string>{{0,152},{119,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chip500K.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,119}</string>
    <key>spriteSourceSize</key>
    <string>{119,119}</string>
    <key>textureRect</key>
    <string>{{121,273},{119,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chip50K.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,119}</string>
    <key>spriteSourceSize</key>
    <string>{119,119}</string>
    <key>textureRect</key>
    <string>{{242,152},{119,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chip5K.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,119}</string>
    <key>spriteSourceSize</key>
    <string>{119,119}</string>
    <key>textureRect</key>
    <string>{{121,152},{119,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chip5M.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,119}</string>
    <key>spriteSourceSize</key>
    <string>{119,119}</string>
    <key>textureRect</key>
    <string>{{273,0},{119,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{394,394}</string>
   <key>textureFileName</key>
   <string>Betchip.png</string>
  </dict>
 </dict>
</plist>
