<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>btnClosePopup.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,72}</string>
    <key>spriteSourceSize</key>
    <string>{70,72}</string>
    <key>textureRect</key>
    <string>{{193,56},{70,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>checkBox.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,23}</string>
    <key>spriteSourceSize</key>
    <string>{24,23}</string>
    <key>textureRect</key>
    <string>{{227,130},{24,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>input1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{357,54}</string>
    <key>spriteSourceSize</key>
    <string>{357,54}</string>
    <key>textureRect</key>
    <string>{{0,0},{357,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>input2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{191,53}</string>
    <key>spriteSourceSize</key>
    <string>{191,53}</string>
    <key>textureRect</key>
    <string>{{0,56},{191,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>input3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{171,53}</string>
    <key>spriteSourceSize</key>
    <string>{171,53}</string>
    <key>textureRect</key>
    <string>{{0,111},{171,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>input4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,38}</string>
    <key>spriteSourceSize</key>
    <string>{108,38}</string>
    <key>textureRect</key>
    <string>{{196,166},{108,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>input5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{194,38}</string>
    <key>spriteSourceSize</key>
    <string>{194,38}</string>
    <key>textureRect</key>
    <string>{{0,166},{194,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>unCheck.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,30}</string>
    <key>spriteSourceSize</key>
    <string>{32,31}</string>
    <key>textureRect</key>
    <string>{{193,130},{32,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{359,206}</string>
   <key>textureFileName</key>
   <string>Input.png</string>
  </dict>
 </dict>
</plist>
