<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>a_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,44}</string>
    <key>spriteSourceSize</key>
    <string>{42,44}</string>
    <key>textureRect</key>
    <string>{{646,747},{42,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>a_ON.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,44}</string>
    <key>spriteSourceSize</key>
    <string>{44,44}</string>
    <key>textureRect</key>
    <string>{{600,747},{44,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgContent.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{269,392}</string>
    <key>spriteSourceSize</key>
    <string>{269,392}</string>
    <key>textureRect</key>
    <string>{{0,382},{269,392}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_Main.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{724,380}</string>
    <key>spriteSourceSize</key>
    <string>{724,380}</string>
    <key>textureRect</key>
    <string>{{0,0},{724,380}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnClose.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,76}</string>
    <key>spriteSourceSize</key>
    <string>{76,76}</string>
    <key>textureRect</key>
    <string>{{674,581},{76,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_100K.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{508,581},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_100K_on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{437,669},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_10K.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{586,475},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_10K_on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{354,669},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_1K.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{425,581},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_1K_on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{271,669},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_500K.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{669,475},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_500K_on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{591,581},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_AnNon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{171,55}</string>
    <key>spriteSourceSize</key>
    <string>{171,55}</string>
    <key>textureRect</key>
    <string>{{574,382},{171,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_Down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,86}</string>
    <key>spriteSourceSize</key>
    <string>{152,86}</string>
    <key>textureRect</key>
    <string>{{271,581},{152,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_Play.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{167,81}</string>
    <key>spriteSourceSize</key>
    <string>{167,81}</string>
    <key>textureRect</key>
    <string>{{417,475},{167,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_Up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,91}</string>
    <key>spriteSourceSize</key>
    <string>{155,91}</string>
    <key>textureRect</key>
    <string>{{417,382},{155,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>face_bich.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{19,23}</string>
    <key>spriteSourceSize</key>
    <string>{19,23}</string>
    <key>textureRect</key>
    <string>{{726,54},{19,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>face_co.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{21,25}</string>
    <key>spriteSourceSize</key>
    <string>{21,25}</string>
    <key>textureRect</key>
    <string>{{726,0},{21,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>face_ro.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{18,25}</string>
    <key>spriteSourceSize</key>
    <string>{18,25}</string>
    <key>textureRect</key>
    <string>{{726,27},{18,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>face_tep.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,24}</string>
    <key>spriteSourceSize</key>
    <string>{24,24}</string>
    <key>textureRect</key>
    <string>{{574,439},{24,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>guide.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,76}</string>
    <key>spriteSourceSize</key>
    <string>{76,76}</string>
    <key>textureRect</key>
    <string>{{600,669},{76,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>history.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,76}</string>
    <key>spriteSourceSize</key>
    <string>{76,76}</string>
    <key>textureRect</key>
    <string>{{678,669},{76,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>popup_shadow.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,197}</string>
    <key>spriteSourceSize</key>
    <string>{144,197}</string>
    <key>textureRect</key>
    <string>{{271,382},{144,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>rank.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{78,78}</string>
    <key>spriteSourceSize</key>
    <string>{78,78}</string>
    <key>textureRect</key>
    <string>{{520,669},{78,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shadow.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,197}</string>
    <key>spriteSourceSize</key>
    <string>{144,197}</string>
    <key>textureRect</key>
    <string>{{271,382},{144,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{756,793}</string>
   <key>textureFileName</key>
   <string>Main.png</string>
  </dict>
 </dict>
</plist>
