<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>COPY.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,51}</string>
    <key>spriteSourceSize</key>
    <string>{113,51}</string>
    <key>textureRect</key>
    <string>{{1160,1437},{113,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Cashout.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{973,1363},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CashoutOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{1196,1197},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ChuyenKhoan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{568,1507},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ChuyenKhoanOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{1009,1437},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DoiThe.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{719,1507},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DoiTheOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{858,1437},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>LichSuDoiThe.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{1118,1293},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>LichSuDoiTheOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{870,1507},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>MOBIFONEOFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,68}</string>
    <key>spriteSourceSize</key>
    <string>{143,68}</string>
    <key>textureRect</key>
    <string>{{568,1437},{143,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>NapNgon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{1021,1507},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>NapNgonOff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,58}</string>
    <key>spriteSourceSize</key>
    <string>{149,58}</string>
    <key>textureRect</key>
    <string>{{1124,1363},{149,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RUTMOMO_off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{260,94}</string>
    <key>spriteSourceSize</key>
    <string>{260,94}</string>
    <key>textureRect</key>
    <string>{{1111,97},{260,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RUTMOMO_on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{260,94}</string>
    <key>spriteSourceSize</key>
    <string>{260,94}</string>
    <key>textureRect</key>
    <string>{{1111,289},{260,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Rounded Rectangle926.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{699,218}</string>
    <key>spriteSourceSize</key>
    <string>{699,219}</string>
    <key>textureRect</key>
    <string>{{0,1073},{699,218}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Telegramxxxx.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{1283,903},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>VIETTELOFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,68}</string>
    <key>spriteSourceSize</key>
    <string>{143,68}</string>
    <key>textureRect</key>
    <string>{{1131,1100},{143,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>VIETTELON.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,68}</string>
    <key>spriteSourceSize</key>
    <string>{143,68}</string>
    <key>textureRect</key>
    <string>{{713,1437},{143,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>VINAPHONEOFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,68}</string>
    <key>spriteSourceSize</key>
    <string>{143,68}</string>
    <key>textureRect</key>
    <string>{{973,1293},{143,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ZINGOFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,68}</string>
    <key>spriteSourceSize</key>
    <string>{143,68}</string>
    <key>textureRect</key>
    <string>{{828,1293},{143,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>acb.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{221,105}</string>
    <key>spriteSourceSize</key>
    <string>{221,105}</string>
    <key>textureRect</key>
    <string>{{1111,385},{221,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bank-building.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{151,24}</string>
    <key>spriteSourceSize</key>
    <string>{151,24}</string>
    <key>textureRect</key>
    <string>{{1111,492},{151,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_Main_DAILY.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1109,517}</string>
    <key>spriteSourceSize</key>
    <string>{1109,517}</string>
    <key>textureRect</key>
    <string>{{0,0},{1109,517}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_TyLe.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{344,382}</string>
    <key>spriteSourceSize</key>
    <string>{344,382}</string>
    <key>textureRect</key>
    <string>{{717,519},{344,382}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_TyLe888.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{410,195}</string>
    <key>spriteSourceSize</key>
    <string>{410,195}</string>
    <key>textureRect</key>
    <string>{{717,903},{410,195}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgbxhline.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{445,18}</string>
    <key>spriteSourceSize</key>
    <string>{445,18}</string>
    <key>textureRect</key>
    <string>{{717,1257},{445,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bidv.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,78}</string>
    <key>spriteSourceSize</key>
    <string>{152,78}</string>
    <key>textureRect</key>
    <string>{{1129,983},{152,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{169,65}</string>
    <key>spriteSourceSize</key>
    <string>{169,65}</string>
    <key>textureRect</key>
    <string>{{1063,824},{169,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_Copy.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{121,53}</string>
    <key>spriteSourceSize</key>
    <string>{121,53}</string>
    <key>textureRect</key>
    <string>{{1238,680},{121,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_OTPSMS.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{95,64}</string>
    <key>spriteSourceSize</key>
    <string>{95,64}</string>
    <key>textureRect</key>
    <string>{{1238,735},{95,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_OTPTELE.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{95,64}</string>
    <key>spriteSourceSize</key>
    <string>{95,64}</string>
    <key>textureRect</key>
    <string>{{1238,801},{95,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_Sell.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,50}</string>
    <key>spriteSourceSize</key>
    <string>{104,50}</string>
    <key>textureRect</key>
    <string>{{308,1487},{104,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btndaily.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{173,70}</string>
    <key>spriteSourceSize</key>
    <string>{173,70}</string>
    <key>textureRect</key>
    <string>{{1063,752},{173,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>c1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,60}</string>
    <key>spriteSourceSize</key>
    <string>{60,60}</string>
    <key>textureRect</key>
    <string>{{1283,519},{60,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>c2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,60}</string>
    <key>spriteSourceSize</key>
    <string>{60,60}</string>
    <key>textureRect</key>
    <string>{{1283,581},{60,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chuyen$.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{173,70}</string>
    <key>spriteSourceSize</key>
    <string>{173,70}</string>
    <key>textureRect</key>
    <string>{{1063,680},{173,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doi_the_off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{260,95}</string>
    <key>spriteSourceSize</key>
    <string>{260,95}</string>
    <key>textureRect</key>
    <string>{{1111,0},{260,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doi_the_on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{260,94}</string>
    <key>spriteSourceSize</key>
    <string>{260,95}</string>
    <key>textureRect</key>
    <string>{{1111,193},{260,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>frame_km.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{715,218}</string>
    <key>spriteSourceSize</key>
    <string>{715,218}</string>
    <key>textureRect</key>
    <string>{{0,853},{715,218}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>frame_km_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{715,332}</string>
    <key>spriteSourceSize</key>
    <string>{715,332}</string>
    <key>textureRect</key>
    <string>{{0,519},{715,332}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ico_fb.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{37,37}</string>
    <key>spriteSourceSize</key>
    <string>{37,37}</string>
    <key>textureRect</key>
    <string>{{1334,385},{37,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ico_zalo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,37}</string>
    <key>spriteSourceSize</key>
    <string>{39,37}</string>
    <key>textureRect</key>
    <string>{{1283,955},{39,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icon_MB.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,78}</string>
    <key>spriteSourceSize</key>
    <string>{152,78}</string>
    <key>textureRect</key>
    <string>{{414,1437},{152,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_title_km.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{477,58}</string>
    <key>spriteSourceSize</key>
    <string>{477,58}</string>
    <key>textureRect</key>
    <string>{{717,1197},{477,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{560,8}</string>
    <key>spriteSourceSize</key>
    <string>{560,9}</string>
    <key>textureRect</key>
    <string>{{717,1277},{560,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_pick.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,78}</string>
    <key>spriteSourceSize</key>
    <string>{218,78}</string>
    <key>textureRect</key>
    <string>{{1063,600},{218,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_unpick.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,79}</string>
    <key>spriteSourceSize</key>
    <string>{218,79}</string>
    <key>textureRect</key>
    <string>{{1063,519},{218,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>techcombank.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,78}</string>
    <key>spriteSourceSize</key>
    <string>{152,78}</string>
    <key>textureRect</key>
    <string>{{1129,903},{152,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>text_RutTien.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{101,32}</string>
    <key>spriteSourceSize</key>
    <string>{101,33}</string>
    <key>textureRect</key>
    <string>{{414,1517},{101,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>text_momo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{131,25}</string>
    <key>spriteSourceSize</key>
    <string>{131,25}</string>
    <key>textureRect</key>
    <string>{{1129,1063},{131,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>text_telcocard.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,29}</string>
    <key>spriteSourceSize</key>
    <string>{119,29}</string>
    <key>textureRect</key>
    <string>{{1238,867},{119,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txt_DSDLy.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{518,45}</string>
    <key>spriteSourceSize</key>
    <string>{518,45}</string>
    <key>textureRect</key>
    <string>{{414,1390},{518,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txt_DSDaiLY.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{412,95}</string>
    <key>spriteSourceSize</key>
    <string>{412,95}</string>
    <key>textureRect</key>
    <string>{{0,1293},{412,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txt_QuyDinh.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{412,95}</string>
    <key>spriteSourceSize</key>
    <string>{412,95}</string>
    <key>textureRect</key>
    <string>{{0,1390},{412,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txt_TyGiaDoi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{412,95}</string>
    <key>spriteSourceSize</key>
    <string>{412,95}</string>
    <key>textureRect</key>
    <string>{{414,1293},{412,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>txt_TyGiaNap.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{412,95}</string>
    <key>spriteSourceSize</key>
    <string>{412,95}</string>
    <key>textureRect</key>
    <string>{{717,1100},{412,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>vietcombank.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,78}</string>
    <key>spriteSourceSize</key>
    <string>{152,78}</string>
    <key>textureRect</key>
    <string>{{0,1487},{152,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>vietinBank.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,78}</string>
    <key>spriteSourceSize</key>
    <string>{152,78}</string>
    <key>textureRect</key>
    <string>{{154,1487},{152,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1373,1567}</string>
   <key>textureFileName</key>
   <string>Main.png</string>
  </dict>
 </dict>
</plist>
