<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>T1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,43}</string>
    <key>spriteSourceSize</key>
    <string>{53,43}</string>
    <key>textureRect</key>
    <string>{{1770,1278},{53,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>T2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{51,41}</string>
    <key>spriteSourceSize</key>
    <string>{51,41}</string>
    <key>textureRect</key>
    <string>{{1874,1278},{51,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>T3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,43}</string>
    <key>spriteSourceSize</key>
    <string>{53,43}</string>
    <key>textureRect</key>
    <string>{{1715,1278},{53,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>TEXT_hd.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{941,654}</string>
    <key>spriteSourceSize</key>
    <string>{941,654}</string>
    <key>textureRect</key>
    <string>{{0,1328},{941,654}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Thua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{139,42}</string>
    <key>spriteSourceSize</key>
    <string>{139,42}</string>
    <key>textureRect</key>
    <string>{{317,1984},{139,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>V1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,28}</string>
    <key>spriteSourceSize</key>
    <string>{30,28}</string>
    <key>textureRect</key>
    <string>{{2001,753},{30,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ava_default.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{83,82}</string>
    <key>spriteSourceSize</key>
    <string>{83,82}</string>
    <key>textureRect</key>
    <string>{{1787,1923},{83,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ava_money.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{223,48}</string>
    <key>spriteSourceSize</key>
    <string>{223,48}</string>
    <key>textureRect</key>
    <string>{{1490,1278},{223,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ava_plaer.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{121,51}</string>
    <key>spriteSourceSize</key>
    <string>{121,51}</string>
    <key>textureRect</key>
    <string>{{194,1984},{121,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ava_sheld.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,113}</string>
    <key>spriteSourceSize</key>
    <string>{112,113}</string>
    <key>textureRect</key>
    <string>{{1915,1491},{112,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ava_sheld_demo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{87,87}</string>
    <key>spriteSourceSize</key>
    <string>{87,87}</string>
    <key>textureRect</key>
    <string>{{1936,604},{87,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bet_acc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{124,38}</string>
    <key>spriteSourceSize</key>
    <string>{124,38}</string>
    <key>textureRect</key>
    <string>{{458,1984},{124,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1280,720}</string>
    <key>spriteSourceSize</key>
    <string>{1280,720}</string>
    <key>textureRect</key>
    <string>{{0,0},{1280,720}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_menu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,161}</string>
    <key>spriteSourceSize</key>
    <string>{111,161}</string>
    <key>textureRect</key>
    <string>{{1915,1328},{111,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_popup.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{970,593}</string>
    <key>spriteSourceSize</key>
    <string>{970,593}</string>
    <key>textureRect</key>
    <string>{{943,1328},{970,593}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_room.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,40}</string>
    <key>spriteSourceSize</key>
    <string>{48,40}</string>
    <key>textureRect</key>
    <string>{{1927,1278},{48,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_titlepop.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,42}</string>
    <key>spriteSourceSize</key>
    <string>{76,42}</string>
    <key>textureRect</key>
    <string>{{790,1984},{76,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_tool2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,34}</string>
    <key>spriteSourceSize</key>
    <string>{47,34}</string>
    <key>textureRect</key>
    <string>{{1977,1278},{47,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgchat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{535,720}</string>
    <key>spriteSourceSize</key>
    <string>{535,720}</string>
    <key>textureRect</key>
    <string>{{1282,0},{535,720}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>black.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{8,8}</string>
    <key>spriteSourceSize</key>
    <string>{8,8}</string>
    <key>textureRect</key>
    <string>{{2038,0},{8,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_DatLai_da.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{1955,1923},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_back_press.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,50}</string>
    <key>spriteSourceSize</key>
    <string>{60,50}</string>
    <key>textureRect</key>
    <string>{{868,1984},{60,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_chat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{60,61}</string>
    <key>textureRect</key>
    <string>{{668,1984},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_close.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,56}</string>
    <key>spriteSourceSize</key>
    <string>{58,56}</string>
    <key>textureRect</key>
    <string>{{730,1984},{58,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_hand.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,83}</string>
    <key>spriteSourceSize</key>
    <string>{81,83}</string>
    <key>textureRect</key>
    <string>{{1915,1805},{81,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_send.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,46}</string>
    <key>spriteSourceSize</key>
    <string>{82,46}</string>
    <key>textureRect</key>
    <string>{{584,1984},{82,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_upDown.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{18,17}</string>
    <key>spriteSourceSize</key>
    <string>{18,17}</string>
    <key>textureRect</key>
    <string>{{317,2028},{18,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,58}</string>
    <key>spriteSourceSize</key>
    <string>{192,58}</string>
    <key>textureRect</key>
    <string>{{0,1984},{192,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>c0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{14,14}</string>
    <key>textureRect</key>
    <string>{{405,2028},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>c1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,15}</string>
    <key>spriteSourceSize</key>
    <string>{15,15}</string>
    <key>textureRect</key>
    <string>{{337,2028},{15,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>c2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,14}</string>
    <key>spriteSourceSize</key>
    <string>{15,14}</string>
    <key>textureRect</key>
    <string>{{388,2028},{15,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>c3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,15}</string>
    <key>spriteSourceSize</key>
    <string>{15,15}</string>
    <key>textureRect</key>
    <string>{{354,2028},{15,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>c4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,15}</string>
    <key>spriteSourceSize</key>
    <string>{15,15}</string>
    <key>textureRect</key>
    <string>{{371,2028},{15,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chip_press.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{83,84}</string>
    <key>spriteSourceSize</key>
    <string>{83,84}</string>
    <key>textureRect</key>
    <string>{{1915,1719},{83,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>nut_d.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,29}</string>
    <key>spriteSourceSize</key>
    <string>{41,29}</string>
    <key>textureRect</key>
    <string>{{2001,722},{41,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>nut_t.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,27}</string>
    <key>spriteSourceSize</key>
    <string>{41,27}</string>
    <key>textureRect</key>
    <string>{{1936,693},{41,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_chan2_nor.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{217,149}</string>
    <key>spriteSourceSize</key>
    <string>{217,149}</string>
    <key>textureRect</key>
    <string>{{1819,151},{217,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_chan2_press.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{217,149}</string>
    <key>spriteSourceSize</key>
    <string>{217,149}</string>
    <key>textureRect</key>
    <string>{{1819,0},{217,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_chan_nor.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{264,276}</string>
    <key>spriteSourceSize</key>
    <string>{264,276}</string>
    <key>textureRect</key>
    <string>{{1469,722},{264,276}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_chan_press.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{264,276}</string>
    <key>spriteSourceSize</key>
    <string>{264,276}</string>
    <key>textureRect</key>
    <string>{{1203,722},{264,276}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_chan_win.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{264,276}</string>
    <key>spriteSourceSize</key>
    <string>{264,276}</string>
    <key>textureRect</key>
    <string>{{1469,1000},{264,276}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_le2_nor.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{217,149}</string>
    <key>spriteSourceSize</key>
    <string>{217,149}</string>
    <key>textureRect</key>
    <string>{{1819,302},{217,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_le2_press.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{217,149}</string>
    <key>spriteSourceSize</key>
    <string>{217,149}</string>
    <key>textureRect</key>
    <string>{{1819,453},{217,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_le_nor.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{264,276}</string>
    <key>spriteSourceSize</key>
    <string>{264,276}</string>
    <key>textureRect</key>
    <string>{{1735,1000},{264,276}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_le_press.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{264,276}</string>
    <key>spriteSourceSize</key>
    <string>{264,276}</string>
    <key>textureRect</key>
    <string>{{1735,722},{264,276}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_le_win.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{264,276}</string>
    <key>spriteSourceSize</key>
    <string>{264,276}</string>
    <key>textureRect</key>
    <string>{{1203,1000},{264,276}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sao.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,45}</string>
    <key>spriteSourceSize</key>
    <string>{47,45}</string>
    <key>textureRect</key>
    <string>{{1825,1278},{47,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>table.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1201,604}</string>
    <key>spriteSourceSize</key>
    <string>{1201,604}</string>
    <key>textureRect</key>
    <string>{{0,722},{1201,604}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>textbox_chat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{285,45}</string>
    <key>spriteSourceSize</key>
    <string>{285,45}</string>
    <key>textureRect</key>
    <string>{{1203,1278},{285,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>time_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,115}</string>
    <key>spriteSourceSize</key>
    <string>{115,115}</string>
    <key>textureRect</key>
    <string>{{1819,604},{115,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>time_progress.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,111}</string>
    <key>spriteSourceSize</key>
    <string>{111,111}</string>
    <key>textureRect</key>
    <string>{{1915,1606},{111,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_ls.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{395,104}</string>
    <key>spriteSourceSize</key>
    <string>{395,104}</string>
    <key>textureRect</key>
    <string>{{1390,1923},{395,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_pInfo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{445,117}</string>
    <key>spriteSourceSize</key>
    <string>{445,117}</string>
    <key>textureRect</key>
    <string>{{943,1923},{445,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>user.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{1872,1923},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2048,2048}</string>
   <key>textureFileName</key>
   <string>Xocxoc_0.png</string>
  </dict>
 </dict>
</plist>
