<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>100K_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,69}</string>
    <key>spriteSourceSize</key>
    <string>{71,69}</string>
    <key>textureRect</key>
    <string>{{616,266},{71,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>10K_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,69}</string>
    <key>spriteSourceSize</key>
    <string>{69,69}</string>
    <key>textureRect</key>
    <string>{{902,266},{69,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1K_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,69}</string>
    <key>spriteSourceSize</key>
    <string>{69,69}</string>
    <key>textureRect</key>
    <string>{{760,266},{69,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>500K_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,69}</string>
    <key>spriteSourceSize</key>
    <string>{69,69}</string>
    <key>textureRect</key>
    <string>{{689,266},{69,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5K_OFF.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,69}</string>
    <key>spriteSourceSize</key>
    <string>{69,69}</string>
    <key>textureRect</key>
    <string>{{831,266},{69,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>b.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,134}</string>
    <key>spriteSourceSize</key>
    <string>{155,134}</string>
    <key>textureRect</key>
    <string>{{718,497},{155,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_acc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1145,137}</string>
    <key>spriteSourceSize</key>
    <string>{1145,137}</string>
    <key>textureRect</key>
    <string>{{0,0},{1145,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_soiCau.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{318,121}</string>
    <key>spriteSourceSize</key>
    <string>{318,121}</string>
    <key>textureRect</key>
    <string>{{0,347},{318,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_tn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{512,290},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bt_close.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,68}</string>
    <key>spriteSourceSize</key>
    <string>{68,68}</string>
    <key>textureRect</key>
    <string>{{718,633},{68,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_DatLai.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{875,581},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_HD.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{403,624},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_VD.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{1041,497},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_back.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,50}</string>
    <key>spriteSourceSize</key>
    <string>{60,50}</string>
    <key>textureRect</key>
    <string>{{397,290},{60,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_close.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{51,51}</string>
    <key>spriteSourceSize</key>
    <string>{51,51}</string>
    <key>textureRect</key>
    <string>{{459,290},{51,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_emo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{219,554},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_hand_off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{958,497},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_lsc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{569,624},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_menu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{997,347},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_music.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{486,624},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_music_off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{320,624},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_sound.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{958,581},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_sound_off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{1041,580},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_sound_on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{1014,223},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_x2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{1014,139},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_x2_da.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,82}</string>
    <key>spriteSourceSize</key>
    <string>{81,82}</string>
    <key>textureRect</key>
    <string>{{219,470},{81,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>d.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{194,148}</string>
    <key>spriteSourceSize</key>
    <string>{194,148}</string>
    <key>textureRect</key>
    <string>{{320,347},{194,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_chan1_nor.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{197,125}</string>
    <key>spriteSourceSize</key>
    <string>{197,125}</string>
    <key>textureRect</key>
    <string>{{519,497},{197,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_chan1_press.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{197,125}</string>
    <key>spriteSourceSize</key>
    <string>{197,125}</string>
    <key>textureRect</key>
    <string>{{815,139},{197,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_chan1_win.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{197,125}</string>
    <key>spriteSourceSize</key>
    <string>{197,125}</string>
    <key>textureRect</key>
    <string>{{516,347},{197,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_chan2_win.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{217,149}</string>
    <key>spriteSourceSize</key>
    <string>{217,149}</string>
    <key>textureRect</key>
    <string>{{397,139},{217,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_le1_nor.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{197,125}</string>
    <key>spriteSourceSize</key>
    <string>{197,125}</string>
    <key>textureRect</key>
    <string>{{320,497},{197,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_le1_press.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{197,125}</string>
    <key>spriteSourceSize</key>
    <string>{197,125}</string>
    <key>textureRect</key>
    <string>{{616,139},{197,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_le1_win.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{197,125}</string>
    <key>spriteSourceSize</key>
    <string>{197,125}</string>
    <key>textureRect</key>
    <string>{{715,347},{197,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>o_le2_win.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{217,149}</string>
    <key>spriteSourceSize</key>
    <string>{217,149}</string>
    <key>textureRect</key>
    <string>{{0,470},{217,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{395,104}</string>
    <key>spriteSourceSize</key>
    <string>{395,104}</string>
    <key>textureRect</key>
    <string>{{0,139},{395,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_BXH.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{395,100}</string>
    <key>spriteSourceSize</key>
    <string>{395,100}</string>
    <key>textureRect</key>
    <string>{{0,245},{395,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>vang-btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{268,78}</string>
    <key>spriteSourceSize</key>
    <string>{268,78}</string>
    <key>textureRect</key>
    <string>{{0,621},{268,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1147,707}</string>
   <key>textureFileName</key>
   <string>Xocxoc_1.png</string>
  </dict>
 </dict>
</plist>
