<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>item3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{67,61}</string>
    <key>spriteSourceSize</key>
    <string>{67,61}</string>
    <key>textureRect</key>
    <string>{{80,60},{67,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{78,63}</string>
    <key>spriteSourceSize</key>
    <string>{78,63}</string>
    <key>textureRect</key>
    <string>{{0,60},{78,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,58}</string>
    <key>spriteSourceSize</key>
    <string>{94,58}</string>
    <key>textureRect</key>
    <string>{{0,0},{94,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{149,125}</string>
   <key>textureFileName</key>
   <string>Item.png</string>
  </dict>
 </dict>
</plist>
