<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,116}</string>
    <key>spriteSize</key>
    <string>{303,45}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{608,1208},{303,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,58}</string>
    <key>spriteSize</key>
    <string>{301,156}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{1214,0},{301,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,59}</string>
    <key>spriteSize</key>
    <string>{303,153}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{913,990},{303,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{301,275}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{305,556},{301,275}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,55}</string>
    <key>spriteSize</key>
    <string>{301,156}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{913,832},{301,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-3}</string>
    <key>spriteSize</key>
    <string>{303,45}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{911,773},{303,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-58}</string>
    <key>spriteSize</key>
    <string>{301,164}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{911,442},{301,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{301,275}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{608,278},{301,275}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-56}</string>
    <key>spriteSize</key>
    <string>{301,163}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{911,608},{301,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-56}</string>
    <key>spriteSize</key>
    <string>{301,163}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{0,1109},{301,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{301,276}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{305,0},{301,276}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,60}</string>
    <key>spriteSize</key>
    <string>{301,156}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{1214,442},{301,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{301,275}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{608,555},{301,275}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,3}</string>
    <key>spriteSize</key>
    <string>{303,275}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{0,0},{303,275}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{301,275}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{0,832},{301,275}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-57}</string>
    <key>spriteSize</key>
    <string>{301,163}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{305,1110},{301,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-57}</string>
    <key>spriteSize</key>
    <string>{303,163}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{911,277},{303,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{301,276}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{305,278},{301,276}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>26.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-57}</string>
    <key>spriteSize</key>
    <string>{301,163}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{608,996},{301,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>27.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-118}</string>
    <key>spriteSize</key>
    <string>{303,45}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{608,1161},{303,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{301,276}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{0,554},{301,276}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,61}</string>
    <key>spriteSize</key>
    <string>{303,153}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{913,1145},{303,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,57}</string>
    <key>spriteSize</key>
    <string>{303,162}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{608,832},{303,162}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{301,275}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{305,833},{301,275}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{303,275}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{0,277},{303,275}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{301,275}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{911,0},{301,275}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{301,276}</string>
    <key>spriteSourceSize</key>
    <string>{305,281}</string>
    <key>textureRect</key>
    <string>{{608,0},{301,276}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line _ngang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{123,25}</string>
    <key>spriteSourceSize</key>
    <string>{123,25}</string>
    <key>textureRect</key>
    <string>{{1214,158},{123,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1517,1300}</string>
   <key>textureFileName</key>
   <string>Line.png</string>
  </dict>
 </dict>
</plist>
