<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>100_at.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,62}</string>
    <key>spriteSourceSize</key>
    <string>{113,62}</string>
    <key>textureRect</key>
    <string>{{696,256},{113,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>100_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,62}</string>
    <key>spriteSourceSize</key>
    <string>{113,62}</string>
    <key>textureRect</key>
    <string>{{696,320},{113,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>10K_at.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,62}</string>
    <key>spriteSourceSize</key>
    <string>{113,62}</string>
    <key>textureRect</key>
    <string>{{696,128},{113,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>10K_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,62}</string>
    <key>spriteSourceSize</key>
    <string>{113,62}</string>
    <key>textureRect</key>
    <string>{{696,192},{113,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1k_at.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,62}</string>
    <key>spriteSourceSize</key>
    <string>{113,62}</string>
    <key>textureRect</key>
    <string>{{587,619},{113,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1k_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,62}</string>
    <key>spriteSourceSize</key>
    <string>{113,62}</string>
    <key>textureRect</key>
    <string>{{0,681},{113,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5k_at.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,62}</string>
    <key>spriteSourceSize</key>
    <string>{113,62}</string>
    <key>textureRect</key>
    <string>{{696,0},{113,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5k_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,62}</string>
    <key>spriteSourceSize</key>
    <string>{113,62}</string>
    <key>textureRect</key>
    <string>{{696,64},{113,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>NenAnBe.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{389,76}</string>
    <key>spriteSourceSize</key>
    <string>{389,76}</string>
    <key>textureRect</key>
    <string>{{392,438},{389,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{694,436}</string>
    <key>spriteSourceSize</key>
    <string>{694,436}</string>
    <key>textureRect</key>
    <string>{{0,0},{694,436}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{206,241}</string>
    <key>spriteSourceSize</key>
    <string>{206,241}</string>
    <key>textureRect</key>
    <string>{{0,438},{206,241}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_xhu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{182,261}</string>
    <key>spriteSourceSize</key>
    <string>{182,261}</string>
    <key>textureRect</key>
    <string>{{208,438},{182,261}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_dung.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{193,101}</string>
    <key>spriteSourceSize</key>
    <string>{193,101}</string>
    <key>textureRect</key>
    <string>{{392,516},{193,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_sieutoc_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{193,101}</string>
    <key>spriteSourceSize</key>
    <string>{193,101}</string>
    <key>textureRect</key>
    <string>{{392,619},{193,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_tuquay_iat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{193,101}</string>
    <key>spriteSourceSize</key>
    <string>{193,101}</string>
    <key>textureRect</key>
    <string>{{587,516},{193,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_HD.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,53}</string>
    <key>spriteSourceSize</key>
    <string>{56,53}</string>
    <key>textureRect</key>
    <string>{{702,619},{56,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_ls.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{57,53}</string>
    <key>spriteSourceSize</key>
    <string>{57,53}</string>
    <key>textureRect</key>
    <string>{{115,681},{57,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_vd.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{57,53}</string>
    <key>spriteSourceSize</key>
    <string>{57,53}</string>
    <key>textureRect</key>
    <string>{{587,683},{57,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{811,745}</string>
   <key>textureFileName</key>
   <string>Main.png</string>
  </dict>
 </dict>
</plist>
