<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>btn4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,53}</string>
    <key>spriteSourceSize</key>
    <string>{170,53}</string>
    <key>textureRect</key>
    <string>{{182,281},{170,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnCapNhat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{180,55}</string>
    <key>spriteSourceSize</key>
    <string>{180,55}</string>
    <key>textureRect</key>
    <string>{{192,0},{180,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnDangNhap.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{180,55}</string>
    <key>spriteSourceSize</key>
    <string>{180,55}</string>
    <key>textureRect</key>
    <string>{{197,155},{180,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnDangky.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{195,59}</string>
    <key>spriteSourceSize</key>
    <string>{195,59}</string>
    <key>textureRect</key>
    <string>{{0,155},{195,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnDongy.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{180,55}</string>
    <key>spriteSourceSize</key>
    <string>{180,55}</string>
    <key>textureRect</key>
    <string>{{192,57},{180,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnHuy.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{180,55}</string>
    <key>spriteSourceSize</key>
    <string>{180,55}</string>
    <key>textureRect</key>
    <string>{{0,216},{180,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnOTP2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{146,63}</string>
    <key>spriteSourceSize</key>
    <string>{146,63}</string>
    <key>textureRect</key>
    <string>{{182,216},{146,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnRefresh.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{57,58}</string>
    <key>spriteSourceSize</key>
    <string>{57,59}</string>
    <key>textureRect</key>
    <string>{{330,216},{57,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnTemp1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{190,75}</string>
    <key>spriteSourceSize</key>
    <string>{190,75}</string>
    <key>textureRect</key>
    <string>{{0,78},{190,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnTemp2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{190,76}</string>
    <key>spriteSourceSize</key>
    <string>{190,76}</string>
    <key>textureRect</key>
    <string>{{0,0},{190,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btnXacNhan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{180,54}</string>
    <key>spriteSourceSize</key>
    <string>{180,55}</string>
    <key>textureRect</key>
    <string>{{0,273},{180,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{389,336}</string>
   <key>textureFileName</key>
   <string>Mainbtn.png</string>
  </dict>
 </dict>
</plist>
