<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ic_X2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{77,77}</string>
    <key>spriteSourceSize</key>
    <string>{77,77}</string>
    <key>textureRect</key>
    <string>{{376,95},{77,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_X3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{77,77}</string>
    <key>spriteSourceSize</key>
    <string>{77,77}</string>
    <key>textureRect</key>
    <string>{{282,277},{77,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_X4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{77,77}</string>
    <key>spriteSourceSize</key>
    <string>{77,77}</string>
    <key>textureRect</key>
    <string>{{376,174},{77,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_X5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{77,77}</string>
    <key>spriteSourceSize</key>
    <string>{77,77}</string>
    <key>textureRect</key>
    <string>{{376,253},{77,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_X6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{77,77}</string>
    <key>spriteSourceSize</key>
    <string>{77,77}</string>
    <key>textureRect</key>
    <string>{{376,332},{77,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_banca.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{284,0},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_captain.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{282,95},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_close.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,93}</string>
    <key>spriteSourceSize</key>
    <string>{94,93}</string>
    <key>textureRect</key>
    <string>{{0,0},{94,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_fruit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{94,283},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_kimcuong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{0,95},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_lucky.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,88}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{188,283},{88,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_minipoker.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,86}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{282,189},{92,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_pokemon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{96,0},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_ps.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{94,95},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_saiyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{0,189},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_spartan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{190,0},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_taixiu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{188,95},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_thanrung.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{94,189},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_thantai.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{188,189},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ic_ttc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{92,92}</string>
    <key>spriteSourceSize</key>
    <string>{92,92}</string>
    <key>textureRect</key>
    <string>{{0,283},{92,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{455,411}</string>
   <key>textureFileName</key>
   <string>JPlist.png</string>
  </dict>
 </dict>
</plist>
