<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>T1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,43}</string>
    <key>spriteSourceSize</key>
    <string>{53,43}</string>
    <key>textureRect</key>
    <string>{{1120,1106},{53,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>T2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{51,41}</string>
    <key>spriteSourceSize</key>
    <string>{51,41}</string>
    <key>textureRect</key>
    <string>{{1392,731},{51,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>T3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,43}</string>
    <key>spriteSourceSize</key>
    <string>{53,43}</string>
    <key>textureRect</key>
    <string>{{1347,832},{53,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Text_chondc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{235,39}</string>
    <key>spriteSourceSize</key>
    <string>{235,39}</string>
    <key>textureRect</key>
    <string>{{1392,544},{235,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Title_HD.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{440,113}</string>
    <key>spriteSourceSize</key>
    <string>{440,113}</string>
    <key>textureRect</key>
    <string>{{950,659},{440,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_content.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{994,480}</string>
    <key>spriteSourceSize</key>
    <string>{994,480}</string>
    <key>textureRect</key>
    <string>{{950,0},{994,480}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_content2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1064,644}</string>
    <key>spriteSourceSize</key>
    <string>{1064,644}</string>
    <key>textureRect</key>
    <string>{{0,1293},{1064,644}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_lichsu2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{891,60}</string>
    <key>spriteSourceSize</key>
    <string>{891,60}</string>
    <key>textureRect</key>
    <string>{{950,482},{891,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_time.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,34}</string>
    <key>spriteSourceSize</key>
    <string>{192,34}</string>
    <key>textureRect</key>
    <string>{{1392,585},{192,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_Dat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{168,67}</string>
    <key>spriteSourceSize</key>
    <string>{168,67}</string>
    <key>textureRect</key>
    <string>{{950,1106},{168,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_back.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,56}</string>
    <key>spriteSourceSize</key>
    <string>{30,56}</string>
    <key>textureRect</key>
    <string>{{1013,1220},{30,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_close.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,56}</string>
    <key>spriteSourceSize</key>
    <string>{58,56}</string>
    <key>textureRect</key>
    <string>{{1220,978},{58,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_number.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{61,63}</string>
    <key>spriteSourceSize</key>
    <string>{61,63}</string>
    <key>textureRect</key>
    <string>{{1392,666},{61,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_number_press.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{61,63}</string>
    <key>spriteSourceSize</key>
    <string>{61,63}</string>
    <key>textureRect</key>
    <string>{{950,1220},{61,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>more.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{27,18}</string>
    <key>spriteSourceSize</key>
    <string>{27,18}</string>
    <key>textureRect</key>
    <string>{{1065,1175},{27,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_daDat_off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,29}</string>
    <key>spriteSourceSize</key>
    <string>{112,29}</string>
    <key>textureRect</key>
    <string>{{1347,774},{112,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_daDat_on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,43}</string>
    <key>spriteSourceSize</key>
    <string>{113,43}</string>
    <key>textureRect</key>
    <string>{{950,1175},{113,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_dangDat_off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,25}</string>
    <key>spriteSourceSize</key>
    <string>{112,25}</string>
    <key>textureRect</key>
    <string>{{1347,805},{112,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tab_dangDat_on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,43}</string>
    <key>spriteSourceSize</key>
    <string>{113,43}</string>
    <key>textureRect</key>
    <string>{{1392,621},{113,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>text_hd_ld.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{948,1291}</string>
    <key>spriteSourceSize</key>
    <string>{948,1291}</string>
    <key>textureRect</key>
    <string>{{0,0},{948,1291}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>textbox.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{440,46}</string>
    <key>spriteSourceSize</key>
    <string>{440,46}</string>
    <key>textureRect</key>
    <string>{{950,1058},{440,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{440,113}</string>
    <key>spriteSourceSize</key>
    <string>{440,113}</string>
    <key>textureRect</key>
    <string>{{950,544},{440,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_BXH.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{395,100}</string>
    <key>spriteSourceSize</key>
    <string>{395,100}</string>
    <key>textureRect</key>
    <string>{{950,774},{395,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>title_lschoi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{395,100}</string>
    <key>spriteSourceSize</key>
    <string>{395,100}</string>
    <key>textureRect</key>
    <string>{{950,876},{395,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>vang-btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{268,78}</string>
    <key>spriteSourceSize</key>
    <string>{268,78}</string>
    <key>textureRect</key>
    <string>{{950,978},{268,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1946,1939}</string>
   <key>textureFileName</key>
   <string>Main.png</string>
  </dict>
 </dict>
</plist>
