<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>item1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{104,85}</string>
    <key>spriteSourceSize</key>
    <string>{106,87}</string>
    <key>textureRect</key>
    <string>{{106,186},{104,85}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,76}</string>
    <key>spriteSourceSize</key>
    <string>{96,79}</string>
    <key>textureRect</key>
    <string>{{304,261},{94,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{104,85}</string>
    <key>spriteSourceSize</key>
    <string>{106,87}</string>
    <key>textureRect</key>
    <string>{{212,87},{104,85}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{104,85}</string>
    <key>spriteSourceSize</key>
    <string>{106,87}</string>
    <key>textureRect</key>
    <string>{{212,174},{104,85}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{108,85}</string>
    <key>spriteSourceSize</key>
    <string>{108,87}</string>
    <key>textureRect</key>
    <string>{{212,0},{108,85}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,76}</string>
    <key>spriteSourceSize</key>
    <string>{96,79}</string>
    <key>textureRect</key>
    <string>{{304,261},{94,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,81}</string>
    <key>spriteSourceSize</key>
    <string>{106,83}</string>
    <key>textureRect</key>
    <string>{{106,273},{104,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,44}</string>
    <key>spriteSourceSize</key>
    <string>{92,47}</string>
    <key>textureRect</key>
    <string>{{304,339},{90,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,42}</string>
    <key>spriteSourceSize</key>
    <string>{74,45}</string>
    <key>textureRect</key>
    <string>{{318,168},{72,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,42}</string>
    <key>spriteSourceSize</key>
    <string>{72,45}</string>
    <key>textureRect</key>
    <string>{{318,212},{70,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_blur1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,91}</string>
    <key>spriteSourceSize</key>
    <string>{106,91}</string>
    <key>textureRect</key>
    <string>{{106,0},{104,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_blur10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,91}</string>
    <key>spriteSourceSize</key>
    <string>{106,91}</string>
    <key>textureRect</key>
    <string>{{0,0},{104,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_blur2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,91}</string>
    <key>spriteSourceSize</key>
    <string>{106,91}</string>
    <key>textureRect</key>
    <string>{{106,93},{104,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_blur3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,91}</string>
    <key>spriteSourceSize</key>
    <string>{106,91}</string>
    <key>textureRect</key>
    <string>{{0,186},{104,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_blur4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,91}</string>
    <key>spriteSourceSize</key>
    <string>{96,91}</string>
    <key>textureRect</key>
    <string>{{0,279},{94,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_blur5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,91}</string>
    <key>spriteSourceSize</key>
    <string>{106,91}</string>
    <key>textureRect</key>
    <string>{{0,0},{104,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_blur6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,91}</string>
    <key>spriteSourceSize</key>
    <string>{106,91}</string>
    <key>textureRect</key>
    <string>{{0,93},{104,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_blur7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,81}</string>
    <key>spriteSourceSize</key>
    <string>{92,83}</string>
    <key>textureRect</key>
    <string>{{212,261},{90,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_blur8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,79}</string>
    <key>spriteSourceSize</key>
    <string>{74,81}</string>
    <key>textureRect</key>
    <string>{{322,0},{72,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_blur9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,79}</string>
    <key>spriteSourceSize</key>
    <string>{70,81}</string>
    <key>textureRect</key>
    <string>{{318,87},{68,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{400,385}</string>
   <key>textureFileName</key>
   <string>Item.png</string>
  </dict>
 </dict>
</plist>
