<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>line1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{358,31}</string>
    <key>spriteSourceSize</key>
    <string>{358,31}</string>
    <key>textureRect</key>
    <string>{{611,1172},{358,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{297,143}</string>
    <key>spriteSourceSize</key>
    <string>{297,143}</string>
    <key>textureRect</key>
    <string>{{921,1231},{297,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{292,146}</string>
    <key>spriteSourceSize</key>
    <string>{292,146}</string>
    <key>textureRect</key>
    <string>{{627,1231},{292,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,246}</string>
    <key>spriteSourceSize</key>
    <string>{300,246}</string>
    <key>textureRect</key>
    <string>{{302,531},{300,246}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{328,198}</string>
    <key>spriteSourceSize</key>
    <string>{328,198}</string>
    <key>textureRect</key>
    <string>{{0,789},{328,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{358,31}</string>
    <key>spriteSourceSize</key>
    <string>{358,31}</string>
    <key>textureRect</key>
    <string>{{581,489},{358,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{316,200}</string>
    <key>spriteSourceSize</key>
    <string>{316,200}</string>
    <key>textureRect</key>
    <string>{{604,531},{316,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,256}</string>
    <key>spriteSourceSize</key>
    <string>{300,256}</string>
    <key>textureRect</key>
    <string>{{279,243},{300,256}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{292,181}</string>
    <key>spriteSourceSize</key>
    <string>{292,181}</string>
    <key>textureRect</key>
    <string>{{922,733},{292,181}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{295,175}</string>
    <key>spriteSourceSize</key>
    <string>{295,175}</string>
    <key>textureRect</key>
    <string>{{330,1231},{295,175}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{328,241}</string>
    <key>spriteSourceSize</key>
    <string>{328,241}</string>
    <key>textureRect</key>
    <string>{{332,0},{328,241}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{315,179}</string>
    <key>spriteSourceSize</key>
    <string>{315,179}</string>
    <key>textureRect</key>
    <string>{{611,991},{315,179}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{277,286}</string>
    <key>spriteSourceSize</key>
    <string>{277,287}</string>
    <key>textureRect</key>
    <string>{{0,243},{277,286}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{290,244}</string>
    <key>spriteSourceSize</key>
    <string>{290,245}</string>
    <key>textureRect</key>
    <string>{{581,243},{290,244}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{270,212}</string>
    <key>spriteSourceSize</key>
    <string>{270,212}</string>
    <key>textureRect</key>
    <string>{{330,1017},{270,212}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{306,200}</string>
    <key>spriteSourceSize</key>
    <string>{306,200}</string>
    <key>textureRect</key>
    <string>{{611,789},{306,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{292,200}</string>
    <key>spriteSourceSize</key>
    <string>{292,200}</string>
    <key>textureRect</key>
    <string>{{922,531},{292,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{279,226}</string>
    <key>spriteSourceSize</key>
    <string>{279,226}</string>
    <key>textureRect</key>
    <string>{{330,789},{279,226}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line26.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,174}</string>
    <key>spriteSourceSize</key>
    <string>{300,174}</string>
    <key>textureRect</key>
    <string>{{0,1189},{300,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line27.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{358,31}</string>
    <key>spriteSourceSize</key>
    <string>{358,31}</string>
    <key>textureRect</key>
    <string>{{581,489},{358,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{330,241}</string>
    <key>spriteSourceSize</key>
    <string>{330,241}</string>
    <key>textureRect</key>
    <string>{{0,0},{330,241}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{292,181}</string>
    <key>spriteSourceSize</key>
    <string>{292,181}</string>
    <key>textureRect</key>
    <string>{{922,733},{292,181}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{315,198}</string>
    <key>spriteSourceSize</key>
    <string>{315,198}</string>
    <key>textureRect</key>
    <string>{{0,989},{315,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{290,241}</string>
    <key>spriteSourceSize</key>
    <string>{290,241}</string>
    <key>textureRect</key>
    <string>{{662,0},{290,241}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,256}</string>
    <key>spriteSourceSize</key>
    <string>{300,256}</string>
    <key>textureRect</key>
    <string>{{0,531},{300,256}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>line9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{278,226}</string>
    <key>spriteSourceSize</key>
    <string>{278,226}</string>
    <key>textureRect</key>
    <string>{{873,243},{278,226}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1220,1408}</string>
   <key>textureFileName</key>
   <string>Line.png</string>
  </dict>
 </dict>
</plist>
