<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>atv1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,72}</string>
    <key>spriteSourceSize</key>
    <string>{72,72}</string>
    <key>textureRect</key>
    <string>{{524,735},{72,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>atv2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,72}</string>
    <key>spriteSourceSize</key>
    <string>{72,72}</string>
    <key>textureRect</key>
    <string>{{598,735},{72,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgmain.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{697,417}</string>
    <key>spriteSourceSize</key>
    <string>{697,417}</string>
    <key>textureRect</key>
    <string>{{0,0},{697,417}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>choncuochover.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,94}</string>
    <key>spriteSourceSize</key>
    <string>{94,94}</string>
    <key>textureRect</key>
    <string>{{524,639},{94,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>close.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,76}</string>
    <key>spriteSourceSize</key>
    <string>{76,76}</string>
    <key>textureRect</key>
    <string>{{620,639},{76,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>huongdan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,63}</string>
    <key>spriteSourceSize</key>
    <string>{63,63}</string>
    <key>textureRect</key>
    <string>{{698,639},{63,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lichsu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,63}</string>
    <key>spriteSourceSize</key>
    <string>{63,63}</string>
    <key>textureRect</key>
    <string>{{698,704},{63,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>nenche.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{351,289}</string>
    <key>spriteSourceSize</key>
    <string>{351,289}</string>
    <key>textureRect</key>
    <string>{{0,419},{351,289}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>per1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,76}</string>
    <key>spriteSourceSize</key>
    <string>{132,76}</string>
    <key>textureRect</key>
    <string>{{353,711},{132,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>per2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,26}</string>
    <key>spriteSourceSize</key>
    <string>{32,27}</string>
    <key>textureRect</key>
    <string>{{699,0},{32,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>quay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{209,153}</string>
    <key>spriteSourceSize</key>
    <string>{209,153}</string>
    <key>textureRect</key>
    <string>{{518,419},{209,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sieutoc1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{162,62}</string>
    <key>spriteSourceSize</key>
    <string>{162,62}</string>
    <key>textureRect</key>
    <string>{{171,710},{162,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sieutoc2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{169,70}</string>
    <key>spriteSourceSize</key>
    <string>{169,71}</string>
    <key>textureRect</key>
    <string>{{0,710},{169,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tuquay1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{162,62}</string>
    <key>spriteSourceSize</key>
    <string>{162,62}</string>
    <key>textureRect</key>
    <string>{{518,574},{162,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tuquay2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{169,70}</string>
    <key>spriteSourceSize</key>
    <string>{169,71}</string>
    <key>textureRect</key>
    <string>{{353,639},{169,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>vinhdanh.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,63}</string>
    <key>spriteSourceSize</key>
    <string>{63,63}</string>
    <key>textureRect</key>
    <string>{{682,574},{63,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xhuSX.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{163,218}</string>
    <key>spriteSourceSize</key>
    <string>{163,219}</string>
    <key>textureRect</key>
    <string>{{353,419},{163,218}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{763,809}</string>
   <key>textureFileName</key>
   <string>Main.png</string>
  </dict>
 </dict>
</plist>
