<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Ellipse 1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,30}</string>
    <key>spriteSourceSize</key>
    <string>{30,30}</string>
    <key>textureRect</key>
    <string>{{567,68},{30,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Group 518.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{565,565}</string>
    <key>spriteSourceSize</key>
    <string>{565,565}</string>
    <key>textureRect</key>
    <string>{{0,0},{565,565}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>caothap.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,96}</string>
    <key>spriteSourceSize</key>
    <string>{89,96}</string>
    <key>textureRect</key>
    <string>{{334,567},{89,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icRed.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,66}</string>
    <key>textureRect</key>
    <string>{{567,0},{66,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mnicSieuXe.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{134,94}</string>
    <key>spriteSourceSize</key>
    <string>{134,95}</string>
    <key>textureRect</key>
    <string>{{0,567},{134,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mnicbaucua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,99}</string>
    <key>spriteSourceSize</key>
    <string>{89,99}</string>
    <key>textureRect</key>
    <string>{{243,567},{89,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mniccaothap.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,89}</string>
    <key>spriteSourceSize</key>
    <string>{105,89}</string>
    <key>textureRect</key>
    <string>{{136,567},{105,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mnicgabay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,89}</string>
    <key>spriteSourceSize</key>
    <string>{89,89}</string>
    <key>textureRect</key>
    <string>{{425,567},{89,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mnicpoker.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,89}</string>
    <key>spriteSourceSize</key>
    <string>{89,89}</string>
    <key>textureRect</key>
    <string>{{516,567},{89,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{635,668}</string>
   <key>textureFileName</key>
   <string>Main.png</string>
  </dict>
 </dict>
</plist>
