<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Group29.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,36}</string>
    <key>spriteSourceSize</key>
    <string>{81,36}</string>
    <key>textureRect</key>
    <string>{{237,286},{81,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Group29copy.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,36}</string>
    <key>spriteSourceSize</key>
    <string>{81,36}</string>
    <key>textureRect</key>
    <string>{{297,124},{81,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Group29copy2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,36}</string>
    <key>spriteSourceSize</key>
    <string>{81,36}</string>
    <key>textureRect</key>
    <string>{{297,162},{81,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Group29copy3-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,36}</string>
    <key>spriteSourceSize</key>
    <string>{81,36}</string>
    <key>textureRect</key>
    <string>{{237,248},{81,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Group29copy3-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,36}</string>
    <key>spriteSourceSize</key>
    <string>{81,36}</string>
    <key>textureRect</key>
    <string>{{297,200},{81,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Group29copy3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,36}</string>
    <key>spriteSourceSize</key>
    <string>{81,36}</string>
    <key>textureRect</key>
    <string>{{145,310},{81,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Xhu_khung.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{235,308}</string>
    <key>spriteSourceSize</key>
    <string>{235,308}</string>
    <key>textureRect</key>
    <string>{{0,0},{235,308}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gameMiniPoker.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,60}</string>
    <key>spriteSourceSize</key>
    <string>{58,60}</string>
    <key>textureRect</key>
    <string>{{237,0},{58,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gameSlot1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,60}</string>
    <key>spriteSourceSize</key>
    <string>{58,60}</string>
    <key>textureRect</key>
    <string>{{237,62},{58,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gameSlot2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,60}</string>
    <key>spriteSourceSize</key>
    <string>{58,60}</string>
    <key>textureRect</key>
    <string>{{237,124},{58,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gameSlot4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,60}</string>
    <key>spriteSourceSize</key>
    <string>{58,60}</string>
    <key>textureRect</key>
    <string>{{297,0},{58,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gameSlot5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,60}</string>
    <key>spriteSourceSize</key>
    <string>{58,60}</string>
    <key>textureRect</key>
    <string>{{237,186},{58,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>iconSieuXe.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{320,248},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>iconSlot33.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,60}</string>
    <key>spriteSourceSize</key>
    <string>{58,60}</string>
    <key>textureRect</key>
    <string>{{297,62},{58,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>light.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,30}</string>
    <key>spriteSourceSize</key>
    <string>{143,31}</string>
    <key>textureRect</key>
    <string>{{0,310},{143,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{380,348}</string>
   <key>textureFileName</key>
   <string>Topjackpot.png</string>
  </dict>
 </dict>
</plist>
